---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <Header />
    <main>
      <div
        class="p-0 w-auto text-[#222b59]"
        style="outline: 0px; grid-column: span 12 / auto;"
      >
        <div
          class="p-0 mx-auto mt-0 mb-6 w-full lg:w-[800px] font-sans bg-no-repeat text-sky-800"
          style='outline: 0px; background-image: url("https://www.eluniversal.com.mx/sites/all/themes/eluniversal/images/publicidad/fondo1.jpg"); background-size: 100% 100%;'
        >
          <h2
            class="px-0 pt-2 pb-0 m-0 text-4xl font-bold text-center text-slate-800"
            style="outline: 0px; line-height: 44px;"
          >
            El Universal.mx
          </h2>
          <p
            class="py-0 px-12 m-3 text-lg leading-6 text-center text-slate-800"
          >
            Te invitamos a utilizar nuestras plataformas interactivas para
            ciertos tamaños, formatos y precios de publicidad impresa y digital
          </p>
          <div class="flex flex-row lg:flex-col">
            <div class="p-0 m-0" style="outline: 0px;">
              <img
                class="p-0 m-0 w-full cursor-pointer"
                src="https://www.eluniversal.com.mx/sites/all/themes/eluniversal/images/publicidad/tarifario1.png"
                alt="Tarifario El Universal"
                style="outline: 0px; filter: saturate(1.15);"
              />
            </div>
            <div class="p-0 m-0" style="outline: 0px;">
              <img
                class="p-0 m-0 w-full cursor-pointer"
                src="https://www.eluniversal.com.mx/sites/all/themes/eluniversal/images/publicidad/mediakit1.png"
                alt="Media Kit El Universal"
                style="outline: 0px; filter: saturate(1.15);"
              />
              <img
                class="flex p-0 my-0 mx-auto w-11/12 cursor-pointer"
                src="https://www.eluniversal.com.mx/sites/all/themes/eluniversal/images/publicidad/formatos1.png"
                alt="Formato El Universal"
                style="outline: 0px; filter: saturate(1.15);"
              />
            </div>
            <div class="p-0 m-0" style="outline: 0px;">
              <img
                class="p-0 m-0 w-full cursor-pointer"
                src="https://www.eluniversal.com.mx/sites/all/themes/eluniversal/images/publicidad/cotizador1.png"
                alt="Cotizador El Universal"
                style="outline: 0px; filter: saturate(1.15);"
              />
            </div>
          </div>
          <div class="py-12">
            <p
              class="py-0 px-12 m-0 text-xl font-bold leading-6 text-center text-slate-800"
              style="outline: 0px;"
            >
              <b
                class="p-0 m-0 text-xl font-bold leading-6 text-center text-sky-300"
                style="outline: 0px;">VENTAS:</b
              >
              55 5709 1313
            </p>
            <p
              class="py-0 px-12 m-0 text-base font-normal leading-6 text-center text-slate-800"
              style="outline: 0px;"
            >
              Juan Manuel Ramírez: Ext. 1520 | <a
                href="mailto:juan.ramirezr@eluniversalclabsa.mx"
                class="p-0 m-0 leading-6 text-center text-sky-800 hover:cursor-pointer hover:text-sky-800"
                style="outline: 0px; text-decoration: none;"
                >juan.ramirezr@eluniversalclabsa.mx</a
              >
            </p>
          </div>
        </div>

        <div
          class="p-0 my-0 mx-auto w-full lg:w-[800px] font-sans bg-no-repeat text-sky-800"
          style='outline: 0px; background-image: url("https://www.eluniversal.com.mx/sites/all/themes/eluniversal/images/publicidad/fondo2.jpg"); background-size: 100% 100%;'
        >
          <h2
            class="px-0 pt-2 pb-0 m-0 text-4xl font-bold text-center text-slate-800"
            style="outline: 0px; line-height: 44px;"
          >
            Nuestras Verticales
          </h2>
          <p
            class="py-0 px-12 m-3 text-lg leading-6 text-center text-slate-800"
          >
            Conoce nuestros tamaños, formatos y precios de publicidad impresa y
            digital
          </p>

          <div
            class="grid gap-2 p-0 m-0 text-sky-800"
            style="grid-template-columns: 1fr 1fr 1fr 1fr; outline: 0px;"
          >
            <a
              href="https://www.eluniversal.com.mx/sites/all/themes/eluniversal/images/publicidad/Tarifario_Vive_USA_2022.pdf"
              target="_blank"
              title="Tarifario Viveusa"
              class="p-0 m-0 cursor-pointer text-sky-800 hover:cursor-pointer hover:text-sky-800"
              style="outline: 0px; text-decoration: none;"
            >
              <img
                class="flex p-0 my-0 mx-auto w-11/12 h-full cursor-pointer text-sky-800"
                src="https://www.eluniversal.com.mx/sites/all/themes/eluniversal/images/publicidad/Portada_Vive_USA.png"
                alt="Tarifario Viveusa"
                style="outline: 0px; filter: saturate(1.15);"
              />
            </a>
            <a
              href="https://www.eluniversal.com.mx/sites/all/themes/eluniversal/images/publicidad/Tarifario_Clase_2022.pdf"
              target="_blank"
              title="Tarifario Clase"
              class="p-0 m-0 cursor-pointer text-sky-800 hover:cursor-pointer hover:text-sky-800"
              style="outline: 0px; text-decoration: none;"
            >
              <img
                class="flex p-0 my-0 mx-auto w-11/12 h-full cursor-pointer text-sky-800"
                src="https://www.eluniversal.com.mx/sites/all/themes/eluniversal/images/publicidad/Portada_Clase.png"
                alt="Tarifario Clase"
                style="outline: 0px; filter: saturate(1.15);"
              />
            </a>
            <a
              href="https://www.eluniversal.com.mx/sites/all/themes/eluniversal/images/publicidad/Tarifario_De_10_2022.pdf"
              target="_blank"
              title="Tarifario De10"
              class="p-0 m-0 cursor-pointer text-sky-800 hover:cursor-pointer hover:text-sky-800"
              style="outline: 0px; text-decoration: none;"
            >
              <img
                class="flex p-0 my-0 mx-auto w-11/12 h-full cursor-pointer text-sky-800"
                src="https://www.eluniversal.com.mx/sites/all/themes/eluniversal/images/publicidad/Portada_De_10.png"
                alt="Tarifario De10"
                style="outline: 0px; filter: saturate(1.15);"
              />
            </a>
            <a
              href="https://www.eluniversal.com.mx/sites/all/themes/eluniversal/images/publicidad/Tarifario_El_Grafico_2022.pdf"
              target="_blank"
              title="Tarifario GU"
              class="p-0 m-0 cursor-pointer text-sky-800 hover:cursor-pointer hover:text-sky-800"
              style="outline: 0px; text-decoration: none;"
            >
              <img
                class="flex p-0 my-0 mx-auto w-11/12 h-full cursor-pointer text-sky-800"
                src="https://www.eluniversal.com.mx/sites/all/themes/eluniversal/images/publicidad/Portada_EG.png"
                alt="Tarifario Gu"
                style="outline: 0px; filter: saturate(1.15);"
              />
            </a>
          </div>
          <div
            class="grid gap-2 p-0 m-0 text-sky-800 py-3"
            style="grid-template-columns: 190px 3fr; outline: 0px;"
          >
            <div class="">
              <p
                class="py-0 px-2 m-0 text-xs font-bold leading-4 text-center text-slate-800"
                style="outline: 0px;"
              >
                VENTAS EN TEXAS, USA (210) 549 1778 | (210) 459 1847 INC SS NE
                LOOP 410 SAN ANTONIO TX 78216
              </p>
              <p
                class="py-0 px-2 m-0 text-xs font-normal leading-4 text-center text-slate-800"
                style="outline: 0px;"
              >
                VENTAS MÉXICO CDMX 55 5709 1313 <a
                  href="mailto:saleseluniversal@eluniversalsanantonio.com"
                  class="p-0 m-0 text-xs leading-4 text-center text-sky-800 hover:cursor-pointer hover:text-sky-800"
                  style="outline: 0px; text-decoration: none;"
                  >saleseluniversal@eluniversalsanantonio.com</a
                >
              </p>
            </div>
            <div class="">
              <p
                class="py-0 px-4 m-0 text-xl font-bold leading-6 text-center text-slate-800"
              >
                VENTAS: 55 5709 1313 |
              </p>
              <p
                class="py-0 px-4 m-0 text-base font-normal leading-6 text-center text-slate-800"
              >
                Juan Manuel Ramírez: Ext. 1520 <br />
                <a
                  href="mailto:juan.ramirezr@eluniversalclabsa.mx"
                  class="p-0 m-0 leading-6 text-center text-sky-800 hover:cursor-pointer hover:text-sky-800"
                  style="outline: 0px; text-decoration: none;"
                  >juan.ramirezr@eluniversalclabsa.mx</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
