---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <Header />
    <main>
      <h4
        class="block p-0 mx-0 mt-2 mb-5 w-full text-3xl font-semibold border-t-4 border-solid text-sky-800 after:border-solid after:border-b-4 after:block after:mt-2 after:w-full after:content-['']"
      >
        AVISO DE PRIVACIDAD EL UNIVERSAL, COMPAÑÍA PERIODÍSTICA NACIONAL, S.A.
        DE C.V.
      </h4>
      <p
        class="p-0 mx-0 mt-0 mb-2 text-lg leading-7 text-black"
        style="outline: 0px;"
      >
        Con referencia a los datos personales solicitados por EL UNIVERSAL,
        COMPAÑÍA PERIODÍSTICA NACIONAL, S.A. DE C.V. con domicilio en Bucareli
        8, Colonia Centro, Delegación Cuauhtémoc, C.P. 06040, y que con la
        finalidad de estar en contacto con usted, cumplir con su objeto social,
        para enviarle información sobre la página web de nuestra empresa,
        proveerle los servicios o productos noticiosos que comercializa,
        brindarle el servicio que nos solicita, para proveerle un bien o
        servicio periodístico, informativo, de suscripción, conocer sus
        necesidades de productos o servicios, brindarle información de
        servicios, productos o eventos, incluyendo el envío de publicidad
        segmentada y boletines informativos, y para estar en posibilidad de
        ofrecerle los que más se adecuen a sus preferencias; con fines de
        identificación; comunicarle promociones, atender quejas y aclaraciones,
        y en su caso, tratarlos para fines compatibles con los mencionados en
        este Aviso de privacidad y que se consideren análogos para efectos
        legales.
      </p>
      <p class="p-0 m-0 text-black" style="outline: 0px;"></p>
      <p
        class="p-0 mx-0 mt-0 mb-2 text-lg leading-7 text-black"
        style="outline: 0px;"
      >
        En caso de formalizar con usted la aceptación de algún producto o
        servicio ofrecido por EL UNIVERSAL, COMPAÑÍA PERIODÍSTICA NACIONAL, S.A.
        DE C.V., se le comunica que:
      </p>

      <p
        class="inline-flex px-0 pt-2 pb-0 mx-0 mt-0 mb-4 text-lg leading-7 text-black border-t border-solid border-zinc-400"
        style="outline: 0px;"
      >
        <span
          class="py-0 pr-5 pl-0 mx-0 mt-2 mb-0 text-5xl font-thin leading-7 text-sky-800"
          style="outline: 0px;">01</span
        >
        Los datos serán tratados de conformidad con la Ley Federal de Protección
        de Datos Personales en Posesión de los Particulares y su Reglamento. Usted
        tiene derecho al acceso, actualización, rectificación y/o supresión de los
        Datos Personales de los cuales sea titular en nuestra base de datos.
      </p>
      <p
        class="inline-flex px-0 pt-2 pb-0 mx-0 mt-0 mb-4 text-lg leading-7 text-black border-t border-solid border-zinc-400"
        style="outline: 0px;"
      >
        <span
          class="py-0 pr-5 pl-0 mx-0 mt-2 mb-0 text-5xl font-thin leading-7 text-sky-800"
          style="outline: 0px;">02</span
        >
        La confidencialidad de los datos está garantizada y los mismos están protegidos
        por medidas de seguridad administrativas, técnicas y físicas para evitar
        su daño, pérdida, alteración, destrucción, uso, acceso o divulgación indebida.
      </p>

      <p
        class="inline-flex px-0 pt-2 pb-0 mx-0 mt-0 mb-4 text-lg leading-7 text-black border-t border-solid border-zinc-400"
        style="outline: 0px;"
      >
        <span
          class="py-0 pr-5 pl-0 mx-0 mt-2 mb-0 text-5xl font-thin leading-7 text-sky-800"
          style="outline: 0px;">03</span
        >

        Únicamente las personas autorizadas tendrán acceso a sus datos. Dichos
        datos serán utilizados para el cumplimiento de las obligaciones
        derivadas de esa relación jurídica y comercial.
      </p>

      <p
        class="inline-flex px-0 pt-2 pb-0 mx-0 mt-0 mb-4 text-lg leading-7 text-black border-t border-solid border-zinc-400"
        style="outline: 0px;"
      >
        <span
          class="py-0 pr-5 pl-0 mx-0 mt-2 mb-0 text-5xl font-thin leading-7 text-sky-800"
          style="outline: 0px;">04</span
        >
        Los datos podrán ser transferidos a partes subcontratadas, a sociedades controladoras,
        a sociedades subsidiarias o afiliadas dentro del territorio nacional o en
        el extranjero que se relacionen con el cumplimiento de la prestación de productos
        y/o servicios propios de la actividad económica que desempeña para los fines
        citados. <br />
        <br /> Cuando ingresa su dirección de correo electrónico en nuestro sitio
        web (ya sea para iniciar sesión o para suscribirse a un boletín informativo,
        o similar), podemos compartir información personal o de otro tipo que recopilamos
        de usted, como su correo electrónico (en formato hash, seudónimo) , dirección
        IP o información sobre su navegador o sistema operativo, con nuestro socio
        externo, actuando como controladores conjuntos. Este socio externo utiliza
        esta información para crear un código de identificación en línea con el fin
        de reconocerlo en sus dispositivos. <br />
        <br /> Este código no contiene ninguno de sus datos personales identificables
        y nuestro socio externo no lo utilizará para volver a identificarlo. Colocamos
        este código en nuestra cookie de origen y permitimos que se utilice para
        publicidad en línea y entre canales. Puede compartirse con nuestros socios
        publicitarios y otras empresas de publicidad de terceros a nivel mundial
        con el fin de habilitar contenido basado en intereses o publicidad dirigida
        a lo largo de su experiencia en línea (por ejemplo, web, correo electrónico,
        dispositivos conectados y dentro de la aplicación, etc.) <br />
        <br /> A modo de ejemplo, puede encontrar información detallada sobre el
        aviso de privacidad y darse de baja de las acciones de nuestro socio externo
        aquí: <a
          href="https://liveramp.es/politica-de-privacidad/politica-de-privacidad-de-servicios/"
          target="_blank"
          class="contents p-0 m-0 text-lg leading-7 text-sky-800 hover:cursor-pointer hover:text-sky-800"
          style="outline: 0px; text-decoration: none;"
        >
          https://liveramp.es/politica-de-privacidad/politica-de-privacidad-de-servicios/.</a
        >
        <br />
        Tiene derecho a retirar su consentimiento u optar por no recibir el procesamiento
        de sus datos personales en cualquier momento. <br />
        <br />Para usuarios ubicados en la República Argentina: Dicho Socio
        externo puede procesar y compartir datos con otras partes que pueden
        estar ubicadas en países que no brindan un nivel adecuado de protección
        de datos equivalente al que brindan las leyes del país donde usted
        reside. Para usuarios ubicados en los EE. UU.: Para cancelar este uso,
        haga clic aquí:
        <a
          href="https://liveramp.com/opt_out/"
          target="_blank"
          class="contents p-0 m-0 text-lg leading-7 text-sky-800 hover:cursor-pointer hover:text-sky-800"
          style="outline: 0px; text-decoration: none;"
          >https://liveramp.com/opt_out</a
        >
      </p>
      <p
        class="inline-flex px-0 pt-2 pb-0 mx-0 mt-0 mb-4 text-lg leading-7 text-black border-t border-solid border-zinc-400"
        style="outline: 0px;"
      >
        <span
          class="py-0 pr-5 pl-0 mx-0 mt-2 mb-0 text-5xl font-thin leading-7 text-sky-800"
          style="outline: 0px;">05</span
        >

        Los datos recopilados mediante el portal de internet <a
          href="https://www.eluniversal.com.mx"
          target="_blank"
          class="contents p-0 m-0 text-lg leading-7 text-sky-800 hover:cursor-pointer hover:text-sky-800"
          style="outline: 0px; text-decoration: none;">www.eluniversal.com.mx</a
        >
        y que formen parte de los comentarios anexos a las notas periodísticas no
        serán manejados de forma restringida, con la finalidad de evitar el mal uso
        por personas que se refugian en el anonimato, por lo que los comentarios
        incluirán el nombre del usuario y su comentario.
      </p>
      <p
        class="inline-flex px-0 pt-2 pb-0 mx-0 mt-0 mb-4 text-lg leading-7 text-black border-t border-solid border-zinc-400"
        style="outline: 0px;"
      >
        <span
          class="py-0 pr-5 pl-0 mx-0 mt-2 mb-0 text-5xl font-thin leading-7 text-sky-800"
          style="outline: 0px;">06</span
        >
        El sitio de internet contiene enlaces a otros sitios web, por lo que EL UNIVERSAL,
        COMPAÑÍA PERIODÍSTICA NACIONAL, S.A. DE C.V no se hace responsable de las
        prácticas y usos de los otros sitios, incluyendo los de nuestros patrocinadores
        y/o socios comerciales.
      </p>
      <p
        class="inline-flex px-0 pt-2 pb-0 mx-0 mt-0 mb-4 text-lg leading-7 text-black border-t border-solid border-zinc-400"
        style="outline: 0px;"
      >
        <span
          class="py-0 pr-5 pl-0 mx-0 mt-2 mb-0 text-5xl font-thin leading-7 text-sky-800"
          style="outline: 0px;">07</span
        >

        El presente Aviso de Privacidad puede cambiar o actualizarse
        periódicamente; en apego a la legislación vigente. En caso de existir
        alguna modificación al presente Aviso de Privacidad las modificaciones
        estarán disponibles en este sitio web:
      </p>
      <p
        class="p-0 mx-0 mt-0 mb-2 text-lg leading-7 text-black text-justify"
        style="outline: 0px;"
      >
        Usted podrá ejercer los derechos de acceso, rectificación, cancelación u
        oposición al tratamiento de sus datos, o bien, la petición de limitación
        de uso y divulgación e sus datos, presentando su solicitud a través del
        correo electrónico: <a
          href="mailto:contacto@eluniversal.com.mx"
          class="p-0 m-0 text-lg leading-7 text-sky-800 hover:cursor-pointer"
          style="outline: 0px; text-decoration: none;"
          >contacto@eluniversal.com.mx</a
        >
        , o por escrito dirigido al domicilio de la empresa antes señalado.
      </p>
      <div class="p-0 mx-0 mt-2 mb-0 text-black" style="outline: 0px;">
        <p
          class="block p-0 mx-0 mt-0 mb-2 text-lg leading-7 text-black"
          style="outline: 0px;"
        >
          &nbsp;
        </p>

        <a
          download="Aviso_de_Privacidad"
          href="/sites/all/themes/eluniversal/images/Aviso_de_Privacidad.pdf"
          target="_blank"
          class="py-1 px-2 m-0 font-medium text-white capitalize bg-sky-500 hover:cursor-pointer"
          style="outline: 0px; text-decoration: none; border-radius: 10px;"
          >Obtener PDF</a
        >
      </div>
    </main>
    <Footer />
  </body>
</html>
