---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <Header />
    <main>
      <div
        class="py-0 px-2 w-auto mb-5 text-lg leading-7 text-justify text-black"
        style="outline: 0px;"
      >
        <p
          class="mt-2 text-lg leading-7 text-justify text-black util-paragraph"
        >
          EL UNIVERSAL, COMPAÑÍA PERIODÍSTICA NACIONAL S.A. DE C.V. mediante
          este aviso, informa a los usuarios de los distintos portales de
          Internet de su propiedad (en adelante, los "Usuarios" y el "Portal")
          acerca de su política de protección de datos de carácter personal (en
          adelante, "los Datos Personales") para que los Usuarios determinen
          libre y voluntariamente si desean facilitar a EL UNIVERSAL, COMPAÑÍA
          PERIODÍSTICA&nbsp;NACIONAL,&nbsp;S.A. DE C.V. los Datos Personales que
          se les puedan requerir o que pueda obtener de los Usuarios con ocasión
          de la suscripción o alta en algunos de los servicios ofrecidos en el
          Portal o a través del Portal o con ocasión del uso del Portal
          realizado por los Usuarios. Ciertos servicios del Portal pueden
          contener condiciones particulares con previsiones específicas en
          materia de protección de Datos Personales.
        </p>
        <p
          class="mt-2 text-lg leading-7 text-justify text-black util-paragraph"
        >
          Los Datos Personales recogidos por EL UNIVERSAL, COMPAÑÍA
          PERIODÍSTICA&nbsp;NACIONAL,&nbsp;S.A. DE C.V. serán objeto de
          tratamiento automatizado e incorporados a los correspondientes
          ficheros automatizados de datos de carácter personal de los que EL
          UNIVERSAL, COMPAÑÍA PERIODÍSTICA&nbsp;NACIONAL,&nbsp;S.A. DE C.V. será
          titular y responsable (en adelante, el "Fichero").
        </p>
        <p
          class="mt-2 text-lg leading-7 text-justify text-black util-paragraph"
        >
          La incorporación al Fichero y tratamiento automatizado de los Datos
          Personales requiere que el Usuario preste su consentimiento a EL
          UNIVERSAL, COMPAÑÍA PERIODÍSTICA&nbsp;NACIONAL,&nbsp;S.A. DE C.V. de
          forma inequívoca. EL UNIVERSAL, COMPAÑÍA
          PERIODÍSTICA&nbsp;NACIONAL,&nbsp;S.A. DE C.V. proporcionará a los
          Usuarios los recursos técnicos adecuados para que, con carácter previo
          a la prestación de su consentimiento, puedan acceder a este aviso
          sobre la Política de Protección de Datos de EL UNIVERSAL, COMPAÑÍA
          PERIODÍSTICA&nbsp;NACIONAL,&nbsp;S.A. DE C.V. o a cualquier otra
          información que pueda ser relevante.
        </p>
        <p
          class="mt-2 text-lg leading-7 text-justify text-black util-paragraph"
        >
          La incorporación al Fichero y tratamiento automatizado de los Datos
          Personales tiene como finalidad el mantenimiento de la relación
          contractual en su caso establecida con EL UNIVERSAL, COMPAÑÍA
          PERIODÍSTICA&nbsp; NACIONAL,&nbsp;S.A. DE C.V. , la gestión,
          administración, prestación, ampliación y mejora de los servicios en
          los que el Usuario decida suscribirse o darse de alta, la adecuación
          de dichos servicios a las preferencias y gustos de los Usuarios, el
          diseño de nuevos servicios relacionados con dichos servicios, el envío
          de actualizaciones de los servicios, el envío, por medios
          tradicionales y electrónicos, de información técnica, operativa y
          comercial acerca de productos y servicios ofrecidos por EL UNIVERSAL,
          COMPAÑÍA PERIODÍSTICA&nbsp;NACIONAL,&nbsp;S.A. DE C.V. o a través de
          EL UNIVERSAL, COMPAÑÍA PERIODÍSTICA&nbsp;NACIONAL,&nbsp; S.A. DE C.V.
          actualmente y en el futuro.
        </p>
        <p
          class="mt-2 text-lg leading-7 text-justify text-black util-paragraph"
        >
          La finalidad de la recogida y tratamiento automatizado de los Datos
          Personales incluye igualmente el envío de formularios de encuestas,
          que el Usuario no queda obligado a contestar. EL UNIVERSAL, COMPAÑÍA
          PERIODÍSTICA&nbsp;NACIONAL,&nbsp;S.A. DE C.V. se propone ceder, con
          las mismas finalidades que se han indicado en el párrafo anterior, los
          Datos Personales a su sociedad matriz, a las sociedades en las que EL
          UNIVERSAL, COMPAÑÍA PERIODÍSTICA&nbsp;NACIONAL,&nbsp;S.A. DE C.V.
          ostente, de forma directa o indirecta, al menos una participación los
          derechos de voto, así como a terceros.
        </p>
        <p
          class="mt-2 text-lg leading-7 text-justify text-black util-paragraph"
        >
          Tanto las sociedades pertenecientes a EL UNIVERSAL, COMPAÑÍA
          PERIODÍSTICA&nbsp;NACIONAL,&nbsp;S.A. DE C.V. como los terceros a los
          que EL UNIVERSAL, COMPAÑÍA PERIODÍSTICA&nbsp;NACIONAL,&nbsp;S.A. DE
          C.V. se propone ceder los Datos Personales pueden tener su domicilio
          en el extranjero. En todo caso, EL UNIVERSAL, COMPAÑÍA
          PERIODÍSTICA&nbsp;NACIONAL,&nbsp;S.A. DE C.V. garantiza el
          mantenimiento de la confidencialidad y el tratamiento seguro de los
          Datos Personales en los movimientos internacionales que puedan
          producirse con motivo de las cesiones.
        </p>
        <p
          class="mt-2 text-lg leading-7 text-justify text-black util-paragraph"
        >
          EL UNIVERSAL, COMPAÑÍA PERIODÍSTICA&nbsp;NACIONAL,&nbsp;S.A. DE C.V.
          ha adoptado los niveles de seguridad de protección de los Datos
          Personales legalmente requeridos, y ha instalado todos los medios y
          medidas técnicas a su alcance para evitar la pérdida, mal uso,
          alteración, acceso no autorizado y robo de los Datos Personales
          facilitados a EL UNIVERSAL, COMPAÑÍA
          PERIODÍSTICA&nbsp;NACIONAL,&nbsp;S.A. DE C.V.
        </p>
        <p
          class="mt-2 text-lg leading-7 text-justify text-black util-paragraph"
        >
          Ello no obstante, el Usuario debe ser consciente de que las medidas de
          seguridad en Internet no son inexpugnables. Salvo en los campos en que
          se indique lo contrario, las respuestas a las preguntas sobre Datos
          Personales son voluntarias, sin que la falta de contestación a dichas
          preguntas implique una merma en la calidad o cantidad de los servicios
          correspondientes, a menos que se indique otra cosa.
        </p>
        <p
          class="mt-2 text-lg leading-7 text-justify text-black util-paragraph"
        >
          Algunos de los servicios ofrecidos en el Portal o a través del Portal
          están dirigidos a menores de edad. En los servicios de esta clase en
          los que se produzca la recogida de Datos Personales, EL UNIVERSAL,
          COMPAÑÍA PERIODÍSTICA&nbsp;NACIONAL,&nbsp;S.A. DE C.V. solicitará
          siempre la conformidad paterna para que los menores puedan acceder a
          ellos y sus Datos Personales puedan ser objeto de tratamiento
          automatizado según lo previsto en este aviso sobre la Política de
          Protección de Datos de EL UNIVERSAL, COMPAÑÍA PERIODÍSTICA&nbsp;
          NACIONAL,&nbsp;S.A. DE C.V.
        </p>
        <p
          class="mt-2 text-lg leading-7 text-justify text-black util-paragraph"
        >
          Los Usuarios tienen reconocidos y podrán ejercitar los derechos de
          acceso, cancelación, rectificación y oposición contactando con EL
          UNIVERSAL, COMPAÑÍA PERIODÍSTICA&nbsp;NACIONAL, &nbsp;S.A. DE C.V. a
          través del correo electrónico
          <a
            href="mailto:contacto@eluniversal.com.mx"
            class="p-0 m-0 text-lg leading-7 text-justify text-blue hover:cursor-pointer"
            style="outline: 0px; text-decoration: none;"
            >contacto@eluniversal.com.mx</a
          >
        </p>
      </div>
    </main>
    <style>
      .util-paragraph {
        word-break: break-all;
        text-align: left;
      }
      .text-blue {
        color: #005383;
      }

      @media screen and (min-width: 576px) {
        .util-paragraph {
          word-break: normal;
          text-align: justify;
        }
      }
    </style>
    <Footer />
  </body>
</html>
