---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <Header />
    <main>
      <div
        class="py-0 px-2 w-auto text-sky-800"
        style="outline: 0px; grid-column: span 12 / auto;"
      >
        <p
          class="col-span-full p-0 m-0 text-2xl tracking-tight leading-8 text-black contacto-summary"
        >
          Queremos saber qué opinas sobre los temas que te interesan. <br /> Desde
          aquí puedes enviarnos comentarios, denuncias, sugerencias, imágenes, videos
          o ilustraciones que desees compartir con nosotros.
        </p>
        <p
          class="col-span-full p-0 mx-0 mt-0 mb-3 text-2xl font-semibold tracking-tight leading-9 text-sky-800 contacto-summary is-thankfully"
        >
          Tu participación es esencial para nosotros. <br /> Gracias por tu preferencia.
        </p>
        <div
          class="grid gap-3 lg:gap-5 justify-center my-2 mx-auto text-sky-800 contacto-grid"
        >
          <div
            class="px-0 m-0 max-w-full text-center text-sky-800 contacto-grid__item"
            style="outline: 0px;"
          >
            <p
              class="p-0 m-0 text-base font-bold tracking-tight leading-6 text-center text-sky-800"
              style="outline: 0px;"
            >
              <svg
                class="contacto-grid__icon"
                width="60"
                height="60"
                viewBox="0 0 60 60"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path fill="#0064B4" d="M29.93 5.648a.166.166 0 0 1 .07-.023c.023 0 .047.012.07.023l23.907 17.086a.939.939 0 0 1 .398.762v1.594L34.16 41.684a6.555 6.555 0 0 1-8.332 0L5.625 25.09v-1.594c0-.305.14-.586.398-.762L29.93 5.648ZM5.625 32.368l16.64 13.663c4.5 3.692 10.981 3.692 15.47 0l16.64-13.664v21.07a.94.94 0 0 1-.938.938H6.563a.94.94 0 0 1-.938-.938v-21.07ZM30 0a5.777 5.777 0 0 0-3.34 1.066L2.754 18.152A6.544 6.544 0 0 0 0 23.496v29.942A6.567 6.567 0 0 0 6.563 60h46.874A6.567 6.567 0 0 0 60 53.437v-29.94a6.564 6.564 0 0 0-2.742-5.345L33.34 1.066A5.777 5.777 0 0 0 30 0Z"/>
              </svg>

              <a
                href="mailto:contacto@eluniversal.com.mx"
                class="p-0 m-0 font-bold tracking-tight leading-6 text-center text-gray-100 hover:cursor-pointer contacto-grid__link"
                >contacto@eluniversal.com.mx</a
              >
            </p>
          </div>

          <div
            class="px-0 m-0 max-w-full text-center text-sky-800 contacto-grid__item"
            style="outline: 0px;"
          >
            <p
              class="p-0 m-0 text-base font-bold tracking-tight leading-6 text-center text-sky-800"
              style="outline: 0px;"
            >
              <svg
                class="contacto-grid__icon"
                width="60"
                height="60"
                viewBox="0 0 60 60"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path fill="#0064B4" d="M29.93 5.648a.166.166 0 0 1 .07-.023c.023 0 .047.012.07.023l23.907 17.086a.939.939 0 0 1 .398.762v1.594L34.16 41.684a6.555 6.555 0 0 1-8.332 0L5.625 25.09v-1.594c0-.305.14-.586.398-.762L29.93 5.648ZM5.625 32.368l16.64 13.663c4.5 3.692 10.981 3.692 15.47 0l16.64-13.664v21.07a.94.94 0 0 1-.938.938H6.563a.94.94 0 0 1-.938-.938v-21.07ZM30 0a5.777 5.777 0 0 0-3.34 1.066L2.754 18.152A6.544 6.544 0 0 0 0 23.496v29.942A6.567 6.567 0 0 0 6.563 60h46.874A6.567 6.567 0 0 0 60 53.437v-29.94a6.564 6.564 0 0 0-2.742-5.345L33.34 1.066A5.777 5.777 0 0 0 30 0Z"/>
              </svg>

              <a
                href="mailto:denuncia@eluniversal.com.mx"
                class="p-0 m-0 font-bold tracking-tight leading-6 text-center text-gray-100 hover:cursor-pointer contacto-grid__link"
                >denuncia@eluniversal.com.mx</a
              >
            </p>
          </div>
          <div
            class="px-0 m-0 max-w-full text-center text-sky-800 contacto-grid__item"
            style="outline: 0px;"
          >
            <p
              class="p-0 m-0 text-base font-bold tracking-tight leading-6 text-center text-sky-800"
              style="outline: 0px;"
            >
              <svg
                class="contacto-grid__icon"
                width="60"
                height="60"
                viewBox="0 0 60 60"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path fill="#0064B4" d="M29.93 5.648a.166.166 0 0 1 .07-.023c.023 0 .047.012.07.023l23.907 17.086a.939.939 0 0 1 .398.762v1.594L34.16 41.684a6.555 6.555 0 0 1-8.332 0L5.625 25.09v-1.594c0-.305.14-.586.398-.762L29.93 5.648ZM5.625 32.368l16.64 13.663c4.5 3.692 10.981 3.692 15.47 0l16.64-13.664v21.07a.94.94 0 0 1-.938.938H6.563a.94.94 0 0 1-.938-.938v-21.07ZM30 0a5.777 5.777 0 0 0-3.34 1.066L2.754 18.152A6.544 6.544 0 0 0 0 23.496v29.942A6.567 6.567 0 0 0 6.563 60h46.874A6.567 6.567 0 0 0 60 53.437v-29.94a6.564 6.564 0 0 0-2.742-5.345L33.34 1.066A5.777 5.777 0 0 0 30 0Z"/>
              </svg>

              <a
                href="mailto:publicidad@eluniversal.com.mx"
                class="p-0 m-0 font-bold tracking-tight leading-6 text-center text-gray-100 hover:cursor-pointer contacto-grid__link"
                >publicidad@eluniversal.com.mx</a
              >
            </p>
          </div>
          <div
            class="px-0 m-0 max-w-full text-center text-sky-800 contacto-grid__item"
            style="outline: 0px;"
          >
            <p
              class="p-0 m-0 text-base font-bold tracking-tight leading-6 text-center text-sky-800"
              style="outline: 0px;"
            >
              <svg
                class="contacto-grid__icon"
                width="60"
                height="60"
                viewBox="0 0 60 60"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path fill="#0064B4" d="M29.93 5.648a.166.166 0 0 1 .07-.023c.023 0 .047.012.07.023l23.907 17.086a.939.939 0 0 1 .398.762v1.594L34.16 41.684a6.555 6.555 0 0 1-8.332 0L5.625 25.09v-1.594c0-.305.14-.586.398-.762L29.93 5.648ZM5.625 32.368l16.64 13.663c4.5 3.692 10.981 3.692 15.47 0l16.64-13.664v21.07a.94.94 0 0 1-.938.938H6.563a.94.94 0 0 1-.938-.938v-21.07ZM30 0a5.777 5.777 0 0 0-3.34 1.066L2.754 18.152A6.544 6.544 0 0 0 0 23.496v29.942A6.567 6.567 0 0 0 6.563 60h46.874A6.567 6.567 0 0 0 60 53.437v-29.94a6.564 6.564 0 0 0-2.742-5.345L33.34 1.066A5.777 5.777 0 0 0 30 0Z"/>
              </svg>

              <a
                href="mailto:suscripciones@eluniversal.com.mx"
                class="p-0 m-0 font-bold tracking-tight leading-6 text-center text-gray-100 hover:cursor-pointer contacto-grid__link"
                style="outline: 0px; text-decoration: none; color: #ecf0f1;"
                >suscripciones@eluniversal.com.mx</a
              >
              <a
                href="tel:5552370800"
                class="p-0 m-0 font-bold tracking-tight leading-6 text-center text-gray-100 hover:cursor-pointer"
                style="outline: 0px; text-decoration: none; color: #ecf0f1;"
              >
                Teléfono Directo: 55 5237 0800</a
              ><br />
              <a
                href="https://api.whatsapp.com/send?phone=5548491523&text=Hola, Nececito más informacion!"
                class="p-0 m-0 font-bold tracking-tight leading-6 text-center text-gray-100 hover:cursor-pointer"
                style="outline: 0px; text-decoration: none; color: #ecf0f1;"
              >
                WhatsApp: 55 4849 1523</a
              >
            </p>
          </div>
        </div>
      </div>
    </main>
    <style>
      .contacto-grid {
        grid-template-columns: 1fr;
        margin: 10px auto;
      }

      .contacto-summary {
        outline: 0;
        line-height: 30px;
        margin-bottom: 10px;
      }

      .is-thankfully {
        margin-bottom: 15px;
        color: #005383;
      }

      .contacto-grid__item {
        background-color: #005383;
        border-radius: 8px;
        padding: 25px 0 24px;
      }

      .contacto-grid__link {
        margin-top: 16px;
        outline: 0;
        display: block;
        text-decoration: none;
        color: #ecf0f1;
      }

      .contacto-grid__icon {
        margin: 0 auto;
      }

      @media screen and (min-width: 480px) {
        .contacto-grid {
          grid-template-columns: repeat(2, 1fr);
          max-width: 100%;
          margin-bottom: 20px;
        }

        .contacto-summary {
          line-height: 36px;
        }
      }
    </style>
    <Footer />
  </body>
</html>
