---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <Header />
    <main>
      <div
        class="py-0 px-2 w-auto text-sky-800"
        style="outline: 0px; grid-column: span 12 / auto;"
      >
        <p
          class="col-span-full p-0 m-0 text-2xl tracking-tight leading-8 text-black"
          style="outline: 0px;"
        >
          Queremos saber qué opinas sobre los temas que te interesan. <br /> Desde
          aquí puedes enviarnos comentarios, denuncias, sugerencias, imágenes, videos
          o ilustraciones que desees compartir con nosotros.
        </p>
        <p
          class="col-span-full p-0 mx-0 mt-0 mb-3 text-2xl font-semibold tracking-tight leading-9 text-sky-800"
          style="outline: 0px;"
        >
          Tu participación es esencial para nosotros. <br /> Gracias por tu preferencia.
        </p>
        <div
          class="grid gap-3 lg:gap-5 justify-center my-2 mx-auto text-sky-800 contacto-grid"
        >
          <div
            class="px-0 pt-8 pb-6 m-0 max-w-full text-center rounded-lg bg-sky-800 text-sky-800 contacto-grid__item"
            style="outline: 0px;"
          >
            <p
              class="p-0 m-0 text-base font-bold tracking-tight leading-6 text-center text-sky-800"
              style="outline: 0px;"
            >
              <svg
                class="contacto-grid__icon"
                width="60"
                height="60"
                viewBox="0 0 60 60"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M59.9993 23.045C59.9792 22.867 59.9362 22.6929 59.8706 22.5265C59.8357 22.4015 59.7774 22.2838 59.6994 22.1806C59.6994 22.1806 59.6994 22.0079 59.5923 21.9428L59.3995 21.7701L59.2924 21.6186L36.9209 2.55764C34.9866 0.906431 32.5343 0 29.9997 0C27.4652 0 25.0128 0.906406 23.0786 2.55764L0.749988 21.6186L0.642845 21.7701L0.450085 21.9428V22.1806C0.371642 22.2838 0.313763 22.4015 0.278375 22.5265C0.161188 22.6847 0.0674327 22.8593 0 23.045V23.2612V53.5167C0 55.2364 0.67729 56.8852 1.88265 58.1013C3.08849 59.3169 4.72335 60 6.42857 60H53.5714C55.2767 60 56.9115 59.3169 58.1173 58.1013C59.3227 56.8852 60 55.2364 60 53.5167V23.2612V23.045H59.9993ZM41.1201 39.1669L55.7136 27.6913V49.3024L41.1201 39.1669ZM25.8422 5.97229C27.0035 4.97953 28.4768 4.43445 29.9992 4.43445C31.5216 4.43445 32.9949 4.97955 34.1562 5.97229L54.4497 23.2612L37.3068 36.66L36.0427 35.7522C34.2413 34.5177 32.1133 33.8573 29.9355 33.8573C27.7573 33.8573 25.6297 34.5177 23.8284 35.7522L22.5642 36.66L5.42134 23.2612L25.8422 5.97229ZM4.28502 27.692L18.9201 39.1677L4.28502 49.3895V27.692ZM53.5707 55.6778H6.42787C6.03374 55.6705 5.6487 55.5538 5.31627 55.3401C4.98336 55.1269 4.71551 54.8249 4.54235 54.4675L26.3358 39.3397H26.3353C27.4116 38.5867 28.69 38.1834 29.9998 38.1834C31.3095 38.1834 32.588 38.5867 33.6642 39.3397L55.4576 54.4675H55.4572C55.284 54.8249 55.0161 55.1269 54.6832 55.3401C54.3508 55.5538 53.9658 55.6705 53.5716 55.6778H53.5707Z"
                  fill="#0064B4"></path>
              </svg>

              <a
                href="mailto:contacto@eluniversal.com.mx"
                class="p-0 m-0 font-bold tracking-tight leading-6 text-center text-gray-100 hover:cursor-pointer contacto-grid__link"
                >contacto@eluniversal.com.mx</a
              >
            </p>
          </div>

          <div
            class="px-0 pt-8 pb-6 m-0 max-w-full text-center rounded-lg bg-sky-800 text-sky-800 contacto-grid__item"
            style="outline: 0px;"
          >
            <p
              class="p-0 m-0 text-base font-bold tracking-tight leading-6 text-center text-sky-800"
              style="outline: 0px;"
            >
              <svg
                class="contacto-grid__icon"
                width="60"
                height="60"
                viewBox="0 0 60 60"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M59.9993 23.045C59.9792 22.867 59.9362 22.6929 59.8706 22.5265C59.8357 22.4015 59.7774 22.2838 59.6994 22.1806C59.6994 22.1806 59.6994 22.0079 59.5923 21.9428L59.3995 21.7701L59.2924 21.6186L36.9209 2.55764C34.9866 0.906431 32.5343 0 29.9997 0C27.4652 0 25.0128 0.906406 23.0786 2.55764L0.749988 21.6186L0.642845 21.7701L0.450085 21.9428V22.1806C0.371642 22.2838 0.313763 22.4015 0.278375 22.5265C0.161188 22.6847 0.0674327 22.8593 0 23.045V23.2612V53.5167C0 55.2364 0.67729 56.8852 1.88265 58.1013C3.08849 59.3169 4.72335 60 6.42857 60H53.5714C55.2767 60 56.9115 59.3169 58.1173 58.1013C59.3227 56.8852 60 55.2364 60 53.5167V23.2612V23.045H59.9993ZM41.1201 39.1669L55.7136 27.6913V49.3024L41.1201 39.1669ZM25.8422 5.97229C27.0035 4.97953 28.4768 4.43445 29.9992 4.43445C31.5216 4.43445 32.9949 4.97955 34.1562 5.97229L54.4497 23.2612L37.3068 36.66L36.0427 35.7522C34.2413 34.5177 32.1133 33.8573 29.9355 33.8573C27.7573 33.8573 25.6297 34.5177 23.8284 35.7522L22.5642 36.66L5.42134 23.2612L25.8422 5.97229ZM4.28502 27.692L18.9201 39.1677L4.28502 49.3895V27.692ZM53.5707 55.6778H6.42787C6.03374 55.6705 5.6487 55.5538 5.31627 55.3401C4.98336 55.1269 4.71551 54.8249 4.54235 54.4675L26.3358 39.3397H26.3353C27.4116 38.5867 28.69 38.1834 29.9998 38.1834C31.3095 38.1834 32.588 38.5867 33.6642 39.3397L55.4576 54.4675H55.4572C55.284 54.8249 55.0161 55.1269 54.6832 55.3401C54.3508 55.5538 53.9658 55.6705 53.5716 55.6778H53.5707Z"
                  fill="#0064B4"></path>
              </svg>

              <a
                href="mailto:denuncia@eluniversal.com.mx"
                class="p-0 m-0 font-bold tracking-tight leading-6 text-center text-gray-100 hover:cursor-pointer contacto-grid__link"
                >denuncia@eluniversal.com.mx</a
              >
            </p>
          </div>
          <div
            class="px-0 pt-8 pb-6 m-0 max-w-full text-center rounded-lg bg-sky-800 text-sky-800 contacto-grid__item"
            style="outline: 0px;"
          >
            <p
              class="p-0 m-0 text-base font-bold tracking-tight leading-6 text-center text-sky-800"
              style="outline: 0px;"
            >
              <svg
                class="contacto-grid__icon"
                width="60"
                height="60"
                viewBox="0 0 60 60"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M59.9993 23.045C59.9792 22.867 59.9362 22.6929 59.8706 22.5265C59.8357 22.4015 59.7774 22.2838 59.6994 22.1806C59.6994 22.1806 59.6994 22.0079 59.5923 21.9428L59.3995 21.7701L59.2924 21.6186L36.9209 2.55764C34.9866 0.906431 32.5343 0 29.9997 0C27.4652 0 25.0128 0.906406 23.0786 2.55764L0.749988 21.6186L0.642845 21.7701L0.450085 21.9428V22.1806C0.371642 22.2838 0.313763 22.4015 0.278375 22.5265C0.161188 22.6847 0.0674327 22.8593 0 23.045V23.2612V53.5167C0 55.2364 0.67729 56.8852 1.88265 58.1013C3.08849 59.3169 4.72335 60 6.42857 60H53.5714C55.2767 60 56.9115 59.3169 58.1173 58.1013C59.3227 56.8852 60 55.2364 60 53.5167V23.2612V23.045H59.9993ZM41.1201 39.1669L55.7136 27.6913V49.3024L41.1201 39.1669ZM25.8422 5.97229C27.0035 4.97953 28.4768 4.43445 29.9992 4.43445C31.5216 4.43445 32.9949 4.97955 34.1562 5.97229L54.4497 23.2612L37.3068 36.66L36.0427 35.7522C34.2413 34.5177 32.1133 33.8573 29.9355 33.8573C27.7573 33.8573 25.6297 34.5177 23.8284 35.7522L22.5642 36.66L5.42134 23.2612L25.8422 5.97229ZM4.28502 27.692L18.9201 39.1677L4.28502 49.3895V27.692ZM53.5707 55.6778H6.42787C6.03374 55.6705 5.6487 55.5538 5.31627 55.3401C4.98336 55.1269 4.71551 54.8249 4.54235 54.4675L26.3358 39.3397H26.3353C27.4116 38.5867 28.69 38.1834 29.9998 38.1834C31.3095 38.1834 32.588 38.5867 33.6642 39.3397L55.4576 54.4675H55.4572C55.284 54.8249 55.0161 55.1269 54.6832 55.3401C54.3508 55.5538 53.9658 55.6705 53.5716 55.6778H53.5707Z"
                  fill="#0064B4"></path>
              </svg>

              <a
                href="mailto:publicidad@eluniversal.com.mx"
                class="p-0 m-0 font-bold tracking-tight leading-6 text-center text-gray-100 hover:cursor-pointer contacto-grid__link"
                >publicidad@eluniversal.com.mx</a
              >
            </p>
          </div>
          <div
            class="px-0 pt-8 pb-6 m-0 max-w-full text-center rounded-lg bg-sky-800 text-sky-800 contacto-grid__item"
            style="outline: 0px;"
          >
            <p
              class="p-0 m-0 text-base font-bold tracking-tight leading-6 text-center text-sky-800"
              style="outline: 0px;"
            >
              <svg
                class="contacto-grid__icon"
                width="60"
                height="60"
                viewBox="0 0 60 60"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M59.9993 23.045C59.9792 22.867 59.9362 22.6929 59.8706 22.5265C59.8357 22.4015 59.7774 22.2838 59.6994 22.1806C59.6994 22.1806 59.6994 22.0079 59.5923 21.9428L59.3995 21.7701L59.2924 21.6186L36.9209 2.55764C34.9866 0.906431 32.5343 0 29.9997 0C27.4652 0 25.0128 0.906406 23.0786 2.55764L0.749988 21.6186L0.642845 21.7701L0.450085 21.9428V22.1806C0.371642 22.2838 0.313763 22.4015 0.278375 22.5265C0.161188 22.6847 0.0674327 22.8593 0 23.045V23.2612V53.5167C0 55.2364 0.67729 56.8852 1.88265 58.1013C3.08849 59.3169 4.72335 60 6.42857 60H53.5714C55.2767 60 56.9115 59.3169 58.1173 58.1013C59.3227 56.8852 60 55.2364 60 53.5167V23.2612V23.045H59.9993ZM41.1201 39.1669L55.7136 27.6913V49.3024L41.1201 39.1669ZM25.8422 5.97229C27.0035 4.97953 28.4768 4.43445 29.9992 4.43445C31.5216 4.43445 32.9949 4.97955 34.1562 5.97229L54.4497 23.2612L37.3068 36.66L36.0427 35.7522C34.2413 34.5177 32.1133 33.8573 29.9355 33.8573C27.7573 33.8573 25.6297 34.5177 23.8284 35.7522L22.5642 36.66L5.42134 23.2612L25.8422 5.97229ZM4.28502 27.692L18.9201 39.1677L4.28502 49.3895V27.692ZM53.5707 55.6778H6.42787C6.03374 55.6705 5.6487 55.5538 5.31627 55.3401C4.98336 55.1269 4.71551 54.8249 4.54235 54.4675L26.3358 39.3397H26.3353C27.4116 38.5867 28.69 38.1834 29.9998 38.1834C31.3095 38.1834 32.588 38.5867 33.6642 39.3397L55.4576 54.4675H55.4572C55.284 54.8249 55.0161 55.1269 54.6832 55.3401C54.3508 55.5538 53.9658 55.6705 53.5716 55.6778H53.5707Z"
                  fill="#0064B4"></path>
              </svg>

              <a
                href="mailto:suscripciones@eluniversal.com.mx"
                class="p-0 m-0 font-bold tracking-tight leading-6 text-center text-gray-100 hover:cursor-pointer contacto-grid__link"
                style="outline: 0px; text-decoration: none; color: #ecf0f1;"
                >suscripciones@eluniversal.com.mx</a
              >
              <a
                href="tel:5552370800"
                class="p-0 m-0 font-bold tracking-tight leading-6 text-center text-gray-100 hover:cursor-pointer"
                style="outline: 0px; text-decoration: none; color: #ecf0f1;"
              >
                Teléfono Directo: 55 5237 0800</a
              ><br />
              <a
                href="https://api.whatsapp.com/send?phone=5548491523&text=Hola, Nececito más informacion!"
                class="p-0 m-0 font-bold tracking-tight leading-6 text-center text-gray-100 hover:cursor-pointer"
                style="outline: 0px; text-decoration: none; color: #ecf0f1;"
              >
                WhatsApp: 55 4849 1523</a
              >
            </p>
          </div>
        </div>
      </div>
    </main>
    <style>
      .contacto-grid {
        grid-template-columns: 1fr;
      }

      .contacto-grid__item {
        padding: 15px 0 17px;
        background-color: #005383;
        border-radius: 8px;
      }

      .contacto-grid__link {
        margin-top: 16px;
        outline: 0;
        display: block;
        text-decoration: none;
        color: #ecf0f1;
      }

      .contacto-grid__icon {
        margin: 0 auto;
      }

      @media screen and (min-width: 480px) {
        .contacto-grid {
          grid-template-columns: repeat(2, 1fr);
          max-width: 100%;
          margin-bottom: 20px;
        }
      }
    </style>
    <Footer />
  </body>
</html>
