---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <Header />
    <main>
      <div
        class="py-0 px-2 w-auto mb-5 text-lg leading-7 text-justify text-black"
        style="outline: 0px;"
      >
        <p
          class="mt-2 text-lg leading-7 text-justify text-black util-paragraph"
        >
          Internet es una herramienta indispensable para combatir la inequidad y
          para acelerar el desarrollo sostenible, por lo que asegurar el acceso
          universal a esta herramienta es y seguirá siendo una prioridad para El
          Universal Compañía Periodística Nacional, S. A. de C. V., con el
          objetivo de que la información de la web siempre pueda ser consultada
          de un modo significativo por todos los sectores de la población.
        </p>
        <p
          class="mt-2 text-lg leading-7 text-justify text-black util-paragraph"
        >
          El sitio de Internet <a
            href="https://www.eluniversal.com.mx"
            target="_blank"
            class="contents p-0 m-0 text-lg leading-7 text-blue hover:cursor-pointer"
            style="outline: 0px; text-decoration: none;"
            >www.eluniversal.com.mx</a
          > está construido con el objetivo de facilitar el acceso universal para
          todas las personas que lo consulten, independientemente de sus capacidades
          físicas, sensoriales o intelectuales, así como del contexto técnico de
          su uso (tipo de dispositivo, programa informático, velocidad de la conexión,
          condiciones ambientales, etc.).
        </p>
        <p
          class="mt-2 text-lg leading-7 text-justify text-black util-paragraph"
        >
          La accesibilidad web engloba a personas con diferentes discapacidades:
          visual, auditiva, motora, cognitiva o neurológica, así como a adultos
          mayores y personas poco familiarizadas con el uso de internet.
        </p>
        <p
          class="mt-2 text-lg leading-7 text-justify text-black util-paragraph"
        >
          Trabajamos con el objetivo de adaptar el sitio a las recomendaciones
          del Consorcio Mundial de la Web (W3C). Dichas recomendaciones se
          establecen en las Pautas de Accesibilidad al Contenido de la Web
          (WCAG) en su versión 2.0, las cuales son referidas en el Acuerdo por
          el que se establecen las Disposiciones Generales de Accesibilidad Web
          que deben observar las dependencias y entidades de la Administración
          Pública Federal.
        </p>
        <p
          class="mt-2 text-lg leading-7 text-justify text-black util-paragraph"
        >
          Nombre: El Universal Compañía Periodística Nacional S. A. de C. V.
          Sitio Web: <a
            href="https://www.eluniversal.com.mx"
            target="_blank"
            class="contents p-0 m-0 text-lg leading-7 text-blue hover:cursor-pointer"
            style="outline: 0px; text-decoration: none;"
            >www.eluniversal.com.mx</a
          >
        </p>
        <p
          class="mt-2 text-lg leading-7 text-justify text-black util-paragraph"
        >
          Pautas de Accesibilidad:
        </p>
        <p class="mt-2 mb-5 text-lg leading-7 text-justify text-black">
          •&nbsp;&nbsp; &nbsp;Las imágenes que transmiten información relevante,
          cuentan con textos alternativos equivalentes.<br /> •&nbsp;&nbsp; &nbsp;Los
          videos pregrabados ofrecen una descripción textual o auditiva.<br /> •&nbsp;&nbsp;
          &nbsp;Los enlaces, íconos y botones cuentan con texto descriptivo.<br
          /> •&nbsp;&nbsp; &nbsp;El marcado semántico se utiliza apropiadamente.<br
          /> •&nbsp;&nbsp; &nbsp;Los formularios cuentan con descripciones claras.<br
          /> •&nbsp;&nbsp; &nbsp;Los contenidos en movimiento se pueden controlar
          por el usuario.<br /> •&nbsp;&nbsp; &nbsp;El sitio es navegable utilizando
          el teclado.<br /> •&nbsp;&nbsp; &nbsp;Los contrastes de color son adecuados.<br
          /> •&nbsp;&nbsp; &nbsp;La estructura del sitio y sus niveles de encabezados
          son comprensibles y predecibles.<br /> •&nbsp;&nbsp; &nbsp;El sitio es
          compatible con herramientas de asistencia tecnológica utilizadas por personas
          con discapacidad.<br /> •&nbsp;&nbsp; &nbsp;El sitio es compatible con
          tecnologías utilizadas por los usuarios, como versiones y tipos de navegadores
          web (Internet Explorer, Google Chrome, Firefox, Safari, Edge).
        </p>
        <p class="mt-2 mb-5 text-lg leading-7 text-black util-paragraph">
          Debido a que es <a
            href="http://www.eluniversal.com.mx"
            class="p-0 m-0 text-lg leading-7 text-justify text-blue hover:cursor-pointer"
            style="outline: 0px; text-decoration: none;"
            >www.eluniversal.com.mx</a
          >
          de amplia cobertura y gradualmente integra los sitios web de las propiedades
          de El Universal Compañía Periodística Nacional S. A. de C. V., es responsabilidad
          de éstas cumplir con las pautas de accesibilidad en el contenido de sus
          sitios web que ya fueron integrados a <a
            href="http://www.eluniversal.com.mx;"
            class="p-0 m-0 text-lg leading-7 text-justify text-blue hover:cursor-pointer"
            style="outline: 0px; text-decoration: none;"
            >www.eluniversal.com.mx;</a
          >
          así como los que gradualmente se migrarán a dicho sitio en términos de
          las disposiciones jurídicas aplicables.
        </p>
        <p class="mt-2 mb-5 text-lg leading-7 text-black util-paragraph">
          La pagina principal del portal <a
            href="http://www.eluniversal.com.mx"
            class="p-0 m-0 text-lg leading-7 text-justify text-blue hover:cursor-pointer"
            style="outline: 0px; text-decoration: none;"
            >www.eluniversal.com.mx</a
          >
          cumple con el Estándar AA de Accesibilidad WCAG 2.0, así como las más de
          5,500 fichas de trámites y servicios publicadas.
        </p>
        <p class="mt-2 mb-5 text-lg leading-7 text-black util-paragraph">
          Estándar de Accesibilidad: WCAG 2.0.
        </p>
        <p class="mt-2 mb-5 text-lg leading-7 text-black util-paragraph">
          Nivel de conformidad: <br /> Trabajamos para dar cumplimiento al nivel
          de conformidad AA de las Pautas de Accesibilidad para el Contenido Web
          (WCAG) 2.0.
        </p>
        <p class="mt-2 mb-5 text-lg leading-7 text-black util-paragraph">
          En la siguiente liga puedes consultar las Pautas de Accesibilidad para
          el Contenido Web (WCAG) 2.0:. <br /><a
            href="http://www.w3.org/TR/2008/REC-WCAG20-20081211/"
            class="p-0 m-0 text-lg leading-7 text-justify text-blue hover:cursor-pointer"
            style="outline: 0px; text-decoration: none;"
            >http://www.w3.org/TR/2008/REC-WCAG20-20081211/</a
          >
        </p>
        <p class="mt-2 mb-5 text-lg leading-7 text-black util-paragraph">
          Las tecnologías utilizadas compatibles con la accesibilidad de las que
          se depende para acceder al sitio son: HTML y CSS.
        </p>
        <p class="mt-2 mb-5 text-lg leading-7 text-black util-paragraph">
          Contacto:&nbsp; Si encuentras algún problema o quieres hacer cualquier
          sugerencia relacionada con la accesibilidad de este sitio web, por
          favor, contáctanos a través del correo electrónico <a
            href="mailto:jesus.guerra@eluniversal.com.mx"
            class="p-0 m-0 text-lg leading-7 text-justify text-blue hover:cursor-pointer"
            style="outline: 0px; text-decoration: none;"
            >jesus.guerra@eluniversal.com.mx</a
          >
        </p>
        <p class="mt-2 mb-5 text-lg leading-7 text-black util-paragraph">
          Fecha de última actualización de la declaración de
          accesibilidad:&nbsp; <br /> 11 de marzo de 2019. <br /> &nbsp;
        </p>

        <style>
          .text-blue {
            color: #005383;
          }

          .util-paragraph {
            text-align: left;
            word-break: break-all;
          }

          @media screen and (min-width: 576px) {
            .breve-historia__year {
              text-align: center;
            }

            .util-paragraph {
              text-align: justify;
              word-break: normal;
            }
          }
        </style>
        <Footer />
      </div>
    </main>
  </body>
</html>
