---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Coupons from '../components/coupons';
import '../components/coupons/styles.scss';
import '../components/kiosko/styles.scss';
import Kiosko from '../components/kiosko';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main class="w-full mx-auto">
      <Kiosko />
			<Coupons />
		</main>
		<Footer />
	</body>
</html>
