---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <Header />
    <main>
      <div
        class="p-0 m-0 w-auto text-blue"
        style="outline: 0px; grid-column: span 12 / auto;"
      >
        <p
          class="py-0 px-0 mb-2 font-sans font-bold tracking-tight text-black directory-title"
        >
          El Lic. Juan Francisco Ealy Ortiz es el Presidente Ejecutivo y del
          Consejo de Administración de EL UNIVERSAL, Compañía Periodística
          Nacional.
        </p>
      </div>

      <div class="grid grid-flow-row gap-5 p-0 m-0 text-blue directory-grid">
        <div class="py-0 px-0 w-auto my-5 text-blue">
          <!-- style="grid-column: auto / auto;" -->
          <article
            class="p-0 mb-2 font-sans text-lg leading-7 text-justify text-black"
            style="outline: 0px;"
          >
            <img
              src="https://www.eluniversal.com.mx/sites/all/themes/eluniversal/images/ealy-ortiz.jpg"
              alt="Licenciado Juan Francisco Ealy Ortiz"
              class="block p-0 m-0 w-full text-lg leading-7 text-justify text-black directory-image"
            />
            <figcaption
              class="p-2 m-0 w-full text-xs leading-3 text-justify text-black bg-gray-100 directory-caption"
            >
              Lic. Juan Francisco Ealy Ortiz, Presidente Ejecutivo y del Consejo
              de Administración
            </figcaption>
            <p
              class="mt-2 mb-5 text-lg leading-7 text-justify text-black directory-paragraph"
            >
              Juan Francisco Ealy Ortiz es originario de Torreón, Coahuila. Se
              graduó como Licenciado en Economía en la Universidad Nacional
              Autónoma de México. El proyecto del licenciado Ealy Ortiz respecto
              al contenido del diario fue muy claro al asumir el mando del
              periódico en 1969: pluralismo ideológico, manifestación genuina de
              la libertad de expresión y la búsqueda de un país más democrático.
              Desde entonces, EL UNIVERSAL ofrece a sus lectores información
              veraz y oportuna. Primero a través del papel periódico y más
              recientemente, vía internet. El licenciado Ealy Ortiz ha ocupado
              diversos cargos y funciones de alta responsabilidad en
              organizaciones periodísticas nacionales e internacionales, en
              especial dentro de la Sociedad Interamericana de Prensa y el Grupo
              de Diarios de América. Su prioridad ha sido alzar la voz sobre las
              amenazas a la libertad de expresión en el continente, en especial
              por la acción violenta del crimen en los países de la región.
            </p>
            <p
              class="mt-2 mb-5 text-lg leading-7 text-justify text-black directory-paragraph"
            >
              EL UNIVERSAL ha sido además pionero en iniciativas de
              responsabilidad social. En septiembre de 2011 el licenciado Ealy
              Ortiz decidió retirar de todas las plataformas del periódico los
              anuncios clasificados que pudieran promover la trata de personas.
              En mayo de 2015, se promulgó el decreto para que el primer viernes
              de marzo de cada año se celebre el Día Nacional de la Oratoria,
              iniciativa ciudadana promovida por EL UNIVERSAL ante el Congreso
              de la Unión y cuya tradición había iniciado ya en las páginas del
              diario desde décadas atrás.
            </p>
            <p
              class="mt-2 mb-5 text-lg leading-7 text-justify text-black directory-paragraph"
            >
              El licenciado Ealy Ortiz ha ocupado diversos cargos y funciones de
              alta responsabilidad en organizaciones periodísticas nacionales e
              internacionales, en especial dentro de la Sociedad Interamericana
              de Prensa y el Grupo de Diarios de América. Su prioridad ha sido
              alzar la voz sobre las amenazas a la libertad de expresión en el
              continente, en especial por la acción violenta del crimen en los
              países de la región.
            </p>
            <p
              class="mt-2 mb-5 text-lg leading-7 text-justify text-black directory-paragraph"
            >
              EL UNIVERSAL ha sido además pionero en iniciativas de
              responsabilidad social. En septiembre de 2011 el licenciado Ealy
              Ortiz decidió retirar de todas las plataformas del periódico los
              anuncios clasificados que pudieran promover la trata de personas.
              En mayo de 2015, se promulgó el decreto para que el primer viernes
              de marzo de cada año se celebre el Día Nacional de la Oratoria,
              iniciativa ciudadana promovida por EL UNIVERSAL ante el Congreso
              de la Unión y cuya tradición había iniciado ya en las páginas del
              diario desde décadas atrás.
            </p>
            <p
              class="mt-2 mb-5 text-lg leading-7 text-justify text-black directory-paragraph"
            >
              Durante el 100 aniversario de esta casa editorial, cumplidos el 1
              de octubre de 2016, Ealy Ortiz recibió el reconocimiento de la
              Cámara de Diputados, el Senado de la República, la Asamblea
              Legislativa de la Ciudad de México, la Suprema Corte de Justicia
              de la Nación y muchos otros galardones por parte de instituciones
              públicas y privadas.
            </p>
            <p
              class="mt-2 mb-5 text-lg leading-7 text-justify text-black directory-paragraph"
            >
              Entre los reconocimientos que el Presidente Ejecutivo y del
              Consejo de Administración de EL UNIVERSAL ha recibido están la
              Gran Orden de la Reforma en Rango de Honor por parte de la
              Academia Nacional y el premio
            </p>
            <p
              class="mt-2 mb-5 text-lg leading-7 text-justify text-black directory-paragraph"
            >
              Libertad de Expresión por su liderazgo contra la impunidad, que le
              otorgó la Asociación Mexicana de Editores de Periódicos (AME). La
              Tri-State University, de Indiana (Estados Unidos), le otorgó en
              1997 el título de “Doctor Honoris Causa en Humanidades”, en
              reconocimiento a sus contribuciones profesionales y aportaciones a
              la sociedad. En febrero de 2003 ingresó a La Legión de Honor,
              luego de presentar la tesis “Un nuevo periodismo para un nuevo
              México”.
            </p>
            <p
              class="mt-2 mb-5 text-lg leading-7 text-justify text-black directory-paragraph"
            >
              La lucha por la libertad de expresión que ha encabezado Ealy Ortiz
              data incluso desde los tiempos en que la pluralidad política en el
              gobierno mexicano era inexistente. En noviembre de 1981 el
              gobierno pretendió crear una legislación que controlaba la
              información periodística; el licenciado Ealy Ortiz se opuso y
              señaló: “Reglamentar el derecho a la información es condicionar la
              libertad de expresión o de prensa, y ello nos condenaría al papel
              de ser sólo sujetos de una información manipulada”.
            </p>
            <p
              class="mt-2 mb-5 text-lg leading-7 text-justify text-black directory-paragraph"
            >
              Durante la década de los ochenta, Ealy Ortiz luchó por acabar con
              el monopolio que en materia de comercialización de papel periódico
              mantenía la empresa gubernamental PIPSA, logrando que se
              autorizara la libre importación de esta materia prima. “La verdad
              implica el riesgo de no ser gratos a intereses que se oponen al
              avance democrático del país”, dijo en ese momento. El 1 de octubre
              de 1992, tras señalar que “la libertad de prensa no se agradece,
              se ejerce”, el Presidente de esta casa editorial ordenó que los
              gastos que generara la participación de los reporteros en giras
              nacionales e internacionales de los funcionarios gubernamentales
              fueran pagados por EL UNIVERSAL, cuando lo tradicional era que las
              dependencias oficiales lo hicieran.
            </p>
            <p
              class="mt-2 mb-5 text-lg leading-7 text-justify text-black directory-paragraph"
            >
              Como un reconocimiento a su trayectoria y su participación en la
              construcción de la democracia, en diciembre de 2006 el ex
              presidente de México, Felipe Calderón Hinojosa, canceló un timbre
              postal con el cual se celebraron los 90 años de existencia de EL
              UNIVERSAL, El Gran Diario de México. En la ceremonia, el primer
              mandatario reconoció la aportación de este periódico en la
              historia del país: “La cancelación de este timbre conmemorativo es
              claramente un reconocimiento al profesionalismo y a la dedicación
              del equipo que encabeza Juan Francisco Ealy Ortiz”.
            </p>
            <p
              class="mt-2 mb-5 text-lg leading-7 text-justify text-black directory-paragraph"
            >
              El Presidente Ejecutivo de El Universal participa en diversos
              foros y organizaciones mundiales y regionales de prensa, entre las
              que destacan la Asociación Mundial de Periódicos (WAN por sus
              siglas en inglés), la Sociedad Interamericana de Prensa (SIP) y el
              Grupo de Diarios América (GDA), organización formada por los
              diarios líderes de Argentina, Brasil, Ecuador, Perú, Puerto Rico,
              Uruguay, Venezuela, Chile, Colombia y México. El licenciado Ealy
              Ortiz es miembro del Consejo Directivo de la fundación UNAM.
              Colabora e impulsa con intensidad, pasión y profundo amor a
              México, foros de discusión e intercambio de opiniones sobre la
              situación y perspectiva nacional e internacional. Un ejemplo de
              ellos es el Grupo¡...Por México! , que incorpora a miembros
              destacados de las más representativas instituciones políticas,
              empresariales, religiosas y medios de comunicación.
            </p>
            <p
              class="mt-2 mb-5 text-lg leading-7 text-justify text-black directory-paragraph"
            >
              Otro ejemplo es su impulso a la investigación y a la labor del
              periodismo científico, al apoyar con becas los trabajos de
              periodistas e investigadores en el Instituto de las Américas, en
              su campus de la Universidad de California en San Diego. También
              destaca su labor a favor de la salud: el licenciado Juan Francisco
              Ealy Ortiz tomó posesión en agosto de 2007 como presidente del
              Patronato del Instituto Nacional de Salud Pública, creado para
              agrupar a empresarios e investigadores que busquen colaborar, en
              forma desinteresada, con la misión del instituto, que es la de
              contribuir a la equidad social, promoviendo la salud plena de los
              mexicanos.
            </p>
            <p
              class="mt-2 mb-5 text-lg leading-7 text-justify text-black directory-paragraph"
            >
              En materia de protección al medio ambiente, el Lic. Ealy Ortiz
              apoya y promueve la realización de diversos foros para hacer
              conciencia de la gravedad del calentamiento global y la necesidad
              de afrontar el reto desde los ámbitos de la academia, la
              investigación científica y la política.
            </p>
            <p
              class="mt-2 mb-5 text-lg leading-7 text-justify text-black directory-paragraph"
            >
              El 23 de octubre de 2007, en el marco del 91 aniversario del Gran
              Diario de México, el Lic. Juan Francisco Ealy Ortiz nombró al Lic.
              Juan Francisco Ealy Lanz Duret, Director General de EL UNIVERSAL.
              Ealy Lanz Duret, quien lleva una destacada trayectoria en la
              empresa, fue Vicepresidente Ejecutivo de 2003 a 2007. En agosto de
              2000 tomó a su cargo el portal de internet de EL UNIVERSAL y lo
              llevó a ser el sitio líder de noticias en México.
            </p>
            <p
              class="mt-2 mb-5 text-lg leading-7 text-justify text-black directory-paragraph"
            >
              Bajo la Presidencia del Lic. Juan Francisco Ealy Ortiz y la
              Dirección General del Lic. Juan Francisco Ealy Lanz Duret, El Gran
              Diario de México crece, se supera y consolida en sus más de 100
              años de historia.
            </p>
          </article>
        </div>

        <div
          class="pr-2 flex flex-col px-0 my-5 mx-auto w-full font-sans text-blue"
        >
          <div class="block p-0 m-0 text-blue directory-section">
            <span
              class="block relative p-0 mt-px mr-2 mb-0 ml-0 w-full h-[6px] border-t-8 directory-label"
            >
            </span>

            <h3
              class="inline-block p-0 mx-0 mt-1 mb-2 w-auto text-2xl not-italic font-extralight leading-8 text-left text-black uppercase directory-title__section"
            >
              EL UNIVERSAL
            </h3>
          </div>
          <article
            class="py-2 px-0 m-0 w-auto border-t border-solid border-zinc-300 text-blue"
            style="outline: 0px;"
          >
            <h3
              class="p-0 mx-0 mt-0 mb-2 text-2xl font-bold tracking-tight leading-8 text-blue"
              style="outline: 0px;"
            >
              Lic. Juan Francisco Ealy Ortiz
            </h3>
            <p
              class="p-0 mx-0 mt-0 mb-5 text-lg leading-6 text-neutral-400"
              style="outline: 0px;"
            >
              Presidente Ejecutivo y del Consejo de Administración
            </p>
          </article>
          <article
            class="py-2 px-0 m-0 w-auto border-t border-solid border-zinc-300 text-blue"
            style="outline: 0px;"
          >
            <h3
              class="p-0 mx-0 mt-0 mb-2 text-2xl font-bold tracking-tight leading-8 text-blue"
              style="outline: 0px;"
            >
              Juan Francisco Ealy Jr.
            </h3>
            <p
              class="p-0 mx-0 mt-0 mb-5 text-lg leading-6 text-neutral-400"
              style="outline: 0px;"
            >
              Vicepresidente Ejecutivo y Director General
            </p>
          </article>
          <article
            class="py-2 px-0 m-0 w-auto border-t border-solid border-zinc-300 text-blue"
            style="outline: 0px;"
          >
            <h3
              class="p-0 mx-0 mt-0 mb-2 text-2xl font-bold tracking-tight leading-8 text-black"
              style="outline: 0px;"
            >
              David Guadalupe Aponte Hurtazo
            </h3><p
              class="p-0 mx-0 mt-0 mb-5 text-lg leading-6 text-neutral-400"
              style="outline: 0px;"
            >
              Director General Editorial
            </p>
          </article>
          <article
            class="py-2 px-0 m-0 w-auto border-t border-solid border-zinc-300 text-blue"
            style="outline: 0px;"
          >
            <h3
              class="p-0 mx-0 mt-0 mb-2 text-2xl font-bold tracking-tight leading-8 text-black"
              style="outline: 0px;"
            >
              Carlos Benavides
            </h3><p
              class="p-0 mx-0 mt-0 mb-5 text-lg leading-6 text-neutral-400"
              style="outline: 0px;"
            >
              Director Editorial
            </p>
          </article>
          <article
            class="py-2 px-0 m-0 w-auto border-t border-solid border-zinc-300 text-blue"
            style="outline: 0px;"
          >
            <h3
              class="p-0 mx-0 mt-0 mb-2 text-2xl font-bold tracking-tight leading-8 text-black"
              style="outline: 0px;"
            >
              Perla Ealy Díaz
            </h3><p
              class="p-0 mx-0 mt-0 mb-5 text-lg leading-6 text-neutral-400"
              style="outline: 0px;"
            >
              Directora de Suplementos
            </p>
          </article>
          <article
            class="py-2 px-0 m-0 w-auto border-t border-solid border-zinc-300 text-blue"
            style="outline: 0px;"
          >
            <h3
              class="p-0 mx-0 mt-0 mb-2 text-2xl font-bold tracking-tight leading-8 text-black"
              style="outline: 0px;"
            >
              Miguel Castillo
            </h3><p
              class="p-0 mx-0 mt-0 mb-5 text-lg leading-6 text-neutral-400"
              style="outline: 0px;"
            >
              Subdirector Editorial
            </p>
          </article>
          <article
            class="py-2 px-0 m-0 w-auto border-t border-solid border-zinc-300 text-blue"
            style="outline: 0px;"
          >
            <h3
              class="p-0 mx-0 mt-0 mb-2 text-2xl font-bold tracking-tight leading-8 text-black"
              style="outline: 0px;"
            >
              Francisco Vega
            </h3><p
              class="p-0 mx-0 mt-0 mb-5 text-lg leading-6 text-neutral-400"
              style="outline: 0px;"
            >
              Subdirector de Diseño
            </p>
          </article>
          <article
            class="py-2 px-0 m-0 w-auto border-t border-solid border-zinc-300 text-blue"
            style="outline: 0px;"
          >
            <h3
              class="p-0 mx-0 mt-0 mb-2 text-2xl font-bold tracking-tight leading-8 text-black"
              style="outline: 0px;"
            >
              Mario Dorantes
            </h3><p
              class="p-0 mx-0 mt-0 mb-5 text-lg leading-6 text-neutral-400"
              style="outline: 0px;"
            >
              Subdirector de Contenidos Web
            </p>
          </article>
          <article
            class="py-2 px-0 m-0 w-auto border-t border-solid border-zinc-300 text-blue"
            style="outline: 0px;"
          >
            <h3
              class="p-0 mx-0 mt-0 mb-2 text-2xl font-bold tracking-tight leading-8 text-black"
              style="outline: 0px;"
            >
              Julio Suárez
            </h3><p
              class="p-0 mx-0 mt-0 mb-5 text-lg leading-6 text-neutral-400"
              style="outline: 0px;"
            >
              Gerente de Video
            </p>
          </article>
          <article
            class="py-2 px-0 m-0 w-auto border-t border-solid border-zinc-300 text-blue"
            style="outline: 0px;"
          >
            <h3
              class="p-0 mx-0 mt-0 mb-2 text-2xl font-bold tracking-tight leading-8 text-blue"
              style="outline: 0px;"
            >
              Fundador:Ing. Félix Fulgencio Palavicini
            </h3>
          </article>
          <article
            class="py-2 px-0 m-0 w-auto border-t border-solid border-zinc-300 text-blue"
            style="outline: 0px;"
          >
            <h3
              class="p-0 mx-0 mt-0 mb-2 text-2xl font-bold tracking-tight leading-8 text-black"
              style="outline: 0px;"
            >
              Manuel Moreno
            </h3><p
              class="p-0 mx-0 mt-0 mb-5 text-lg leading-6 text-neutral-400"
              style="outline: 0px;"
            >
              Director de Finanzas
            </p>
          </article>
          <article
            class="py-2 px-0 m-0 w-auto border-t border-solid border-zinc-300 text-blue"
            style="outline: 0px;"
          >
            <h3
              class="p-0 mx-0 mt-0 mb-2 text-2xl font-bold tracking-tight leading-8 text-black"
              style="outline: 0px;"
            >
              Raymundo Regalado
            </h3><p
              class="p-0 mx-0 mt-0 mb-5 text-lg leading-6 text-neutral-400"
              style="outline: 0px;"
            >
              Director de Administración
            </p>
          </article>
          <article
            class="py-2 px-0 m-0 w-auto border-t border-solid border-zinc-300 text-blue"
            style="outline: 0px;"
          >
            <h3
              class="p-0 mx-0 mt-0 mb-2 text-2xl font-bold tracking-tight leading-8 text-black"
              style="outline: 0px;"
            >
              Juan Carlos Ealy Lanz Duret
            </h3><p
              class="p-0 mx-0 mt-0 mb-5 text-lg leading-6 text-neutral-400"
              style="outline: 0px;"
            >
              Director de Operaciones,Mantenimiento, Inmuebles y Servicios
            </p>
          </article>
          <article
            class="py-2 px-0 m-0 w-auto border-t border-solid border-zinc-300 text-blue"
            style="outline: 0px;"
          >
            <h3
              class="p-0 mx-0 mt-0 mb-2 text-2xl font-bold tracking-tight leading-8 text-black"
              style="outline: 0px;"
            >
              Juan Manuel Ramírez
            </h3><p
              class="p-0 mx-0 mt-0 mb-5 text-lg leading-6 text-neutral-400"
              style="outline: 0px;"
            >
              Director Comercial
            </p>
          </article>
          <article
            class="py-2 px-0 m-0 w-auto border-t border-solid border-zinc-300 text-blue"
            style="outline: 0px;"
          >
            <h3
              class="p-0 mx-0 mt-0 mb-2 text-2xl font-bold tracking-tight leading-8 text-black"
              style="outline: 0px;"
            >
              Antonio Valle López
            </h3><p
              class="p-0 mx-0 mt-0 mb-5 text-lg leading-6 text-neutral-400"
              style="outline: 0px;"
            >
              Director de Tecnología de la Información
            </p>
          </article>
          <article
            class="py-2 px-0 m-0 w-auto border-t border-solid border-zinc-300 text-blue"
            style="outline: 0px;"
          >
            <h4
              class="p-0 mx-0 mt-0 mb-2 text-2xl font-bold tracking-tight leading-8 text-black"
              style="outline: 0px;"
            >
              Juan Jesús Cano Díaz
            </h4><p
              class="p-0 mx-0 mt-0 mb-5 text-lg leading-6 text-neutral-400"
              style="outline: 0px;"
            >
              Director de Marketing
            </p>
          </article>
          <article
            class="py-2 px-0 m-0 w-auto border-t border-solid border-zinc-300 text-blue"
            style="outline: 0px;"
          >
            <h4
              class="p-0 mx-0 mt-0 mb-2 text-2xl font-bold tracking-tight leading-8 text-black"
              style="outline: 0px;"
            >
              Fernando Zúñiga
            </h4><p
              class="p-0 mx-0 mt-0 mb-5 text-lg leading-6 text-neutral-400"
              style="outline: 0px;"
            >
              Gerente de Operaciones y Distribución
            </p>
          </article>
          <article
            class="py-2 px-0 m-0 w-auto border-t border-solid border-zinc-300 text-blue"
            style="outline: 0px;"
          >
            <h4
              class="p-0 mx-0 mt-0 mb-2 text-2xl font-bold tracking-tight leading-8 text-black"
              style="outline: 0px;"
            >
              Espiridión González Reyes
            </h4><p
              class="p-0 mx-0 mt-0 mb-5 text-lg leading-6 text-neutral-400"
              style="outline: 0px;"
            >
              Gerente de Producción
            </p>
          </article>
          <article
            class="py-2 px-0 m-0 w-auto border-t border-solid border-zinc-300 text-blue"
            style="outline: 0px;"
          >
            <h4
              class="p-0 mx-0 mt-0 mb-2 text-2xl font-bold tracking-tight leading-8 text-black"
              style="outline: 0px;"
            >
              Miguel Ángel Garnica
            </h4><p
              class="p-0 mx-0 mt-0 mb-5 text-lg leading-6 text-neutral-400"
              style="outline: 0px;"
            >
              Coordinador de Diseño Web
            </p>
          </article>
          <article
            class="py-2 px-0 m-0 w-auto border-t border-solid border-zinc-300 text-blue"
            style="outline: 0px;"
          >
            <h4
              class="p-0 mx-0 mt-0 mb-2 text-2xl font-bold tracking-tight leading-8 text-black"
              style="outline: 0px;"
            >
              Jesús Rogelio Guerra Rodríguez
            </h4><p
              class="p-0 mx-0 mt-0 mb-5 text-lg leading-6 text-neutral-400"
              style="outline: 0px;"
            >
              Gerente de Desarrollo Web y Nuevas Tecnologías
            </p>
          </article>
        </div>
      </div>
    </main>

    <style>
      .text-blue {
        color: #005383;
      }

      .directory-grid {
        grid-template-columns: 1fr;
        display: block;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }

      .directory-paragraph {
        text-align: left;
      }

      .directory-title {
        line-height: 39px;
        font-size: 26px;
        padding: 0 10px;
        margin-bottom: 20px;
      }

      .directory-label {
        border-top-color: #0064b4;
        border-top-width: 7px;
        display: block;
        height: 6px;
        margin-top: 2px;
        position: relative;
        outline: 0;
      }

      .directory-image {
        object-fit: cover;
        outline: 0;
        filter: saturate(1.15);
      }

      .directory-caption {
        background-color: #ecf0f1;
        font-size: 12px;
        line-height: 14px;
        outline: 0;
        margin-bottom: 20px;
        text-align: justify;
      }

      .text-neutral-400 {
        color: #9b9b9b;
        outline: 0;
      }

      .directory-title__section {
        font-weight: 200;
        outline: 0px;
        letter-spacing: -1.3px;
      }

      @media screen and (min-width: 770px) {
        .directory-paragraph {
          text-align: justify;
        }

        .directory-title {
          line-height: 44px;
          font-size: 40px;
        }

        .directory-grid {
          display: grid;
          grid-template-columns: 1fr 300px;
          outline: 0;
          grid-column-gap: 20px;
          padding-left: 0;
          padding-right: 0;
        }
      }
    </style>
    <Footer />
  </body>
</html>
