---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <Header />
    <main>
      <img
        alt="Historia El Universal"
        class="flex justify-center p-0 my-0 mx-auto w-full text-sky-800"
        src="https://www.eluniversal.com.mx/sites/all/themes/eluniversal/images/historia-universal.jpg"
        style="outline: 0px; filter: saturate(1.15);"
      />

      <div
        class="md:grid p-0 m-0 h-full text-lg leading-7 text-justify text-black"
        style="outline: 0px; column-gap: 20px; grid-template-columns: 71.6666px auto;"
      >
        <div
          class="block my-4 lg:mx-auto text-2xl font-bold leading-7 breve-historia__year break-all"
          style="grid-area: 1 / 1 / -1 / 2; "
        >
          1916
          <strong
            class="h-full block mx-auto"
            style="background-color: #9b9b9b; width: 2px"></strong>
        </div>
        <div class="">
          <p class="mt-2 text-lg leading-7 text-justify text-black">
            <span
              class="p-0 m-0 text-lg leading-7 text-justify"
              style="outline: 0px; color: #0064b4">EL UNIVERSAL</span
            >
            nació el 1 de octubre de 1916 a iniciativa del ingeniero Félix Fulgencio
            Palavicini, quien formaba parte del Congreso Constituyente de Querétaro.
            El objetivo del nuevo diario fue dar la palabra a los postulados emanados
            de la Revolución Mexicana, cuando comenzaba el Congreso Constituyente.
            En la esquina de Madero y Motolinía, en el centro de la capital, se ubicó
            la primera redacción y los talleres del periódico provistos de una rotativa
            Goss. En esta máquina se imprimió la primera Constitución Política de
            los Estados Unidos Mexicanos en 1917.
          </p>
          <p class="mt-2 text-lg leading-7 text-justify text-black">
            El diario defendió los postulados de la Carta Magna y se propuso
            fortalecer la reconstrucción económica, social y jurídica del país,
            con la aplicación de un ideario basado en la rehabilitación de la
            autoridad civil, antirreeleccionismo, apego a las garantías
            constitucionales, libertad de expresión e igualdad jurídica de la
            mujer.
          </p>
        </div>
      </div>

      <div
        class="md:grid p-0 m-0 h-full text-lg leading-7 text-justify text-black"
        style="outline: 0px; column-gap: 20px; grid-template-columns: 71.6666px auto;"
      >
        <div
          class="block my-4 lg:mx-auto text-2xl font-bold leading-7 breve-historia__year"
        >
          1921
          <strong
            class="h-full block mx-auto"
            style="background-color: #9b9b9b; width: 2px"></strong>
        </div>

        <p class="mt-2 text-lg leading-7 text-justify text-black">
          En enero de 1921 adopta el lema de "El Gran Diario de México". Su
          dinamismo lo impulsa a ser el primer periódico en lanzar una edición
          vespertina: EL UNIVERSAL Gráfico, el cual apareció el 1 de febrero de
          1922. En esa década de los 20, la redacción y los talleres se mudan a
          las calles de Bucareli e Iturbide, respectivamente.
        </p>
      </div>
      <div
        class="md:grid p-0 m-0 h-full text-lg leading-7 text-justify text-black"
        style="outline: 0px; column-gap: 20px; grid-template-columns: 71.6666px auto;"
      >
        <div
          class="block my-4 lg:mx-auto text-2xl font-bold leading-7 breve-historia__year"
        >
          1923
          <strong
            class="h-full block mx-auto"
            style="background-color: #9b9b9b; width: 2px"></strong>
        </div>

        <p class="mt-2 text-lg leading-7 text-justify text-black">
          El 14 de abril de 1923, Félix Fulgencio Palavicini deja la Gerencia y
          Dirección General del diario para dedicarse de lleno a su actividad
          política. Miguel Lanz Duret asume como Gerente y José Gómez Ugarte
          como Director. A la muerte del primero, en 1940, la Presidencia y
          Dirección General pasa a Miguel Lanz Duret Jr, su hijo.
        </p>
      </div>

      <div
        class="md:grid p-0 m-0 h-full text-lg leading-7 text-justify text-black"
        style="outline: 0px; column-gap: 20px; grid-template-columns: 71.6666px auto;"
      >
        <div
          class="block my-4 lg:mx-auto text-2xl font-bold leading-7 breve-historia__year"
        >
          1969
          <strong
            class="h-full block mx-auto"
            style="background-color: #9b9b9b; width: 2px"></strong>
        </div>
        <div class="">
          <p class="mt-2 text-lg leading-7 text-justify text-black">
            Sabemos que hacía falta esta ratificación, como también hacía falta
            un complemento, el que cambiara la política económica como está
            sucediendo”.
          </p>
          <div class="flex">
            <div class="pr-3">
              <p class="mt-2 text-lg leading-7 text-justify text-black">
                A partir del 23 de octubre de 1969, el licenciado Juan Francisco
                Ealy Ortiz asume la Presidencia y Dirección General de LOS
                UNIVERSALES. Inicia entonces una etapa de constante crecimiento
                y superación periodística y tecnológica; un proceso de
                renovación que coloca a EL UNIVERSAL a la cabeza del periodismo
                mexicano.
              </p>
              <p class="mt-2 text-lg leading-7 text-justify text-black">
                Una de las importantes medidas que tomó el licenciado Juan
                Francisco Ealy Ortiz en su lucha por dignificar la relación de
                la prensa con la sociedad y el gobierno, fue certificar a partir
                de 1990 la circulación pagada de EL UNIVERSAL, con lo que se
                convirtió en el primer diario en tomar esta medida en México.
              </p>
            </div>
            <div
              class="px-0 pt-0 pb-1 mt-2 mr-0 mb-0 ml-5 text-lg leading-7 text-justify text-black"
              style="outline: 0px; max-width: 163.333px; background-color: #ecf0f1"
            >
              <img
                alt="Ealy Ortiz"
                src="https://www.eluniversal.com.mx/sites/all/themes/eluniversal/images/historia-2.jpg"
                class="p-0 m-0 mt-3 text-lg leading-7 text-center text-black"
                style="outline: 0px; filter: saturate(1.15);"
              />
              <p
                class="py-0 px-1 mt-2 text-lg leading-7 text-justify text-black"
              >
                Lic. Juan Francisco Ealy Ortiz, Presidente Ejecutivo y del
                Consejo de Administración
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="md:grid p-0 m-0 pb-5 h-full text-lg leading-7 text-justify text-black"
        style="outline: 0px; column-gap: 20px; grid-template-columns: 71.6666px auto;"
      >
        <div
          class="block my-4 lg:mx-auto text-2xl font-bold leading-7 breve-historia__year text-sky-800"
          style="grid-area: 1 / 1 / -1 / 2;"
        >
          1996
          <strong
            class="h-full block mx-auto"
            style="background-color: #9b9b9b; width: 2px"></strong>
        </div>

        <p class="mt-2 text-lg leading-7 text-justify text-black">
          Desde el 1 de abril de 1996 EL UNIVERSAL se convirtió en un proveedor
          de servicios para los usuarios de Internet. La actualización de la
          página se realizaba en la madrugada, con cada edición del diario. En
          1999, en el aniversario 30 de la Presidencia y Dirección General del
          licenciado Ealy Ortiz, se modificó el diseño del periódico para
          mantenerlo a la vanguardia entre los diarios del país y del resto del
          mundo. Entre las innovaciones, destacó la incorporación de color a la
          portada y a las páginas de la primera sección.
        </p>
      </div>
    </main>
    <style>
      .breve-historia__year {
        color: #0064b4;
        text-align: left;
      }
      @media screen and (min-width: 480px) {
        .breve-historia__year {
          text-align: center;
        }
      }
    </style>
    <Footer />
  </body>
</html>
