---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <Header />
    <main>
      <p
        class="inline-flex px-0 pt-2 pb-0 mx-0 mt-0 mb-4 text-lg leading-7 text-black privacy-paragraph"
      >
        <span
          class="py-0 pr-5 pl-0 mx-0 mt-2 mb-0 text-5xl font-thin leading-7 text-sky-800"
          style="outline: 0px; color: #0064b4; font-size: 50px;font-weight: 100;margin-top: 10px; padding-right: 50px;"
          >01</span
        >
        El Universal rige su cobertura de seguridad pública y violencia de acuerdo
        a los lineamientos generales de su Código de Ética, el cual exige la difusión
        de información veraz, equilibrada, sustentada en hechos y fuentes reales,
        siempre identificables.
      </p>
      <p
        class="inline-flex px-0 pt-2 pb-0 mx-0 mt-0 mb-4 text-lg leading-7 text-black privacy-paragraph"
      >
        <span
          class="py-0 pr-5 pl-0 mx-0 mt-2 mb-0 text-5xl font-thin leading-7 text-sky-800"
          style="outline: 0px; color: #0064b4; font-size: 50px;font-weight: 100;margin-top: 10px; padding-right: 50px;"
          >02</span
        >

        El Universal subraya la necesidad de impulsar en México un estado
        democrático de derecho, en el que se respeten las garantías de los
        ciudadanos, entre otras, la libertad de expresión, el derecho a un
        debido proceso y el respeto a la dignidad propia. Como una de las
        expresiones de estos principios, los periodistas de esta casa editorial
        reconocen en los tribunales jurisdiccionales a la única autoridad para
        juzgar conductas delictivas, por lo que evitan el uso de lenguaje que
        suponga la condena anticipada de personas, o que replique el léxico
        empleado por bandas criminales o por funcionarios policiales que limita
        el entendimiento de la inseguridad pública y la violencia como fenómenos
        con dimensión social, política y económica. Asimismo, actúan con
        precaución ante filtraciones de expedientes judiciales o de testigos
        protegidos, las cuales validan antes de proponer su publicación.
      </p>

      <p
        class="inline-flex px-0 pt-2 pb-0 mx-0 mt-0 mb-4 text-lg leading-7 text-black privacy-paragraph"
      >
        <span
          class="py-0 pr-5 pl-0 mx-0 mt-2 mb-0 text-5xl font-thin leading-7 text-sky-800"
          style="outline: 0px; color: #0064b4; font-size: 50px;font-weight: 100;margin-top: 10px; padding-right: 50px;"
          >03</span
        >

        El Universal evita reproducir por cualquier vía, total o parcialmente,
        mensajes textuales o imágenes emitidos por delincuentes, pues se les
        considera ejemplos de apología de la violencia. El periódico analizará
        con extrema reserva y con base en el bien social superior, la
        eventualidad de concertar o difundir entrevistas con líderes mafiosos o
        cabecillas de bandas criminales.
      </p>

      <p
        class="inline-flex px-0 pt-2 pb-0 mx-0 mt-0 mb-4 text-lg leading-7 text-black privacy-paragraph"
      >
        <span
          class="py-0 pr-5 pl-0 mx-0 mt-2 mb-0 text-5xl font-thin leading-7 text-sky-800"
          style="outline: 0px; color: #0064b4; font-size: 50px;font-weight: 100;margin-top: 10px; padding-right: 50px;"
          >04</span
        >
        El Universal no explota la tragedia de terceros con el fin de generar mayor
        lectoría o audiencia, por lo que rechaza la información y los contenidos
        de corte sensacionalista, lo que incluye textos o imágenes expresas de víctimas
        de la violencia.
      </p>
      <p
        class="inline-flex px-0 pt-2 pb-0 mx-0 mt-0 mb-4 text-lg leading-7 text-black privacy-paragraph"
      >
        <span
          class="py-0 pr-5 pl-0 mx-0 mt-2 mb-0 text-5xl font-thin leading-7 text-sky-800"
          style="outline: 0px; color: #0064b4; font-size: 50px;font-weight: 100;margin-top: 10px; padding-right: 50px;"
          >05</span
        >
        El Universal reconoce en el crimen organizado un problema que atraviesa diversos
        ámbitos económicos, políticos y sociales, por lo que definirá y extenderá
        una mayor cobertura a temas como las adicciones, las reformas al sistema
        penal, la formación de jueces y fiscales, la atención a programas exitosos
        en este campo en otras naciones, así como la transparencia y eficacia de
        las políticas públicas orientadas a enfrentar este problema.
      </p>
      <p
        class="inline-flex px-0 pt-2 pb-0 mx-0 mt-0 mb-4 text-lg leading-7 text-black privacy-paragraph"
      >
        <span
          class="py-0 pr-5 pl-0 mx-0 mt-2 mb-0 text-5xl font-thin leading-7 text-sky-800"
          style="outline: 0px; color: #0064b4; font-size: 50px;font-weight: 100;margin-top: 10px; padding-right: 50px;"
          >06</span
        >
        A partir de la experiencia en otros países, El Universal impulsará campañas
        de participación cívica en asuntos como la denuncia ciudadana, la prevención
        de adicciones en nuestras familias, barrios y ciudades. Lo mismo vale para
        la participación de organismos privados, organizaciones de la sociedad civil
        o de instituciones religiosas, así como para el establecimiento de alianzas
        con otros medios de comunicación para desarrollar tareas específicas.
      </p>
      <p
        class="inline-flex px-0 pt-2 pb-0 mx-0 mt-0 mb-4 text-lg leading-7 text-black privacy-paragraph"
      >
        <span
          class="py-0 pr-5 pl-0 mx-0 mt-2 mb-0 text-5xl font-thin leading-7 text-sky-800"
          style="outline: 0px; color: #0064b4; font-size: 50px;font-weight: 100;margin-top: 10px; padding-right: 50px;"
          >07</span
        >
        El Universal y sus periodistas entienden como apología del delito publicar
        informaciones relacionadas con el secuestro de particulares o falsas amenazas.
        Las autoridades editoriales del más alto rango decidirán lo conducente en
        el primer caso, ante peticiones de las familias de las víctimas. No se publica
        información que pueda poner en peligro la vida de personas inocentes.
      </p>
      <p
        class="inline-flex px-0 pt-2 pb-0 mx-0 mt-0 mb-4 text-lg leading-7 text-black privacy-paragraph"
      >
        <span
          class="py-0 pr-5 pl-0 mx-0 mt-2 mb-0 text-5xl font-thin leading-7 text-sky-800"
          style="outline: 0px; color: #0064b4; font-size: 50px;font-weight: 100;margin-top: 10px; padding-right: 50px;"
          >08</span
        >
        El Universal y sus periodistas tienen un gran respeto por las víctimas del
        delito, por lo que prestan especial atención a sus voces, lo mismo que a
        la de organismos de la sociedad civil. No se publica el nombre y ningún otro
        dato que facilite la identificación de quienes han sido víctimas de cualquier
        clase de ilícito, especialmente los sexuales. Tampoco se identifica a niñas,
        niños o adolescentes involucrados en asuntos de violencia, y se extiende
        cuidado adicional a otros sectores que sufren un impacto especial en este
        entorno, como las mujeres, los periodistas y los defensores de derechos humanos.
      </p>
      <p
        class="inline-flex px-0 pt-2 pb-0 mx-0 mt-0 mb-4 text-lg leading-7 text-black privacy-paragraph"
      >
        <span
          class="py-0 pr-5 pl-0 mx-0 mt-2 mb-0 text-5xl font-thin leading-7 text-sky-800"
          style="outline: 0px; color: #0064b4; font-size: 50px;font-weight: 100;margin-top: 10px; padding-right: 50px;"
          >09</span
        >
        En atención a los lineamientos respecto de niñas, niños y adolescentes, se
        utilizarán recursos técnicos como aplicar una mascarilla o "pixeleado" de
        sus rostros, para la presentación de materiales. De igual forma se hará con
        fotografías o imágenes de víctimas de delitos, policías o cualquier persona
        que pudiera ver vulnerada su integridad, dignidad o seguridad.
      </p>
      <p
        class="inline-flex px-0 pt-2 pb-0 mx-0 mt-0 mb-4 text-lg leading-7 text-black privacy-paragraph"
      >
        <span
          class="py-0 pr-5 pl-0 mx-0 mt-2 mb-0 text-5xl font-thin leading-7 text-sky-800"
          style="outline: 0px; color: #0064b4; font-size: 50px;font-weight: 100;margin-top: 10px; padding-right: 50px;"
          >10</span
        >
        El Universal considera que este tipo de políticas editoriales deben ser asumidas
        libre e individualmente por cada medio de comunicación, en uso de su independencia
        y cultura profesional interna. Hará el mayor de sus esfuerzos para erradicar
        la autocensura derivada de presiones o amenazas del crimen organizado en
        contra del ejercicio periodístico, en cualquier parte en donde se generen.
        Las reservas en la cobertura de los temas de seguridad pública y violencia,
        destinadas a salvaguardar derechos de personas y evitar la apología de la
        violencia, no supondrán de parte del periódico ocultar la realidad, esconder
        cifras de inseguridad o ignorar lo que pasa en la sociedad en estas materias.
      </p>
    </main>
    <style>
      .privacy-paragraph {
        outline: 0;
        display: inline-flex;
        border-top: 1px solid #aeaeae;
      }
    </style>
    <Footer />
  </body>
</html>
