---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<h2 class="fz-0">
		<img class="w-20" src="https://eluniversal.arcpublishing.com/pf/resources/website/viveusa/logo-viveusa.svg?d=15" alt={SITE_TITLE}>
	</h2>
	<nav class="mb-3">
		<HeaderLink href="/">Home</HeaderLink>
		<!-- <HeaderLink href="/blog">Blog</HeaderLink> -->
		<HeaderLink href="/historia-breve">Historia Breve</HeaderLink>
		<HeaderLink href="/aviso-de-privacidad">Aviso de privacidad</HeaderLink>
		<HeaderLink href="/politicas-de-privacidad">Politicas de privacidad</HeaderLink>
		<HeaderLink href="/declaracion-accesibilidad">Declaración de accesibilidad</HeaderLink>
		<HeaderLink href="/publicidad">Publicidad</HeaderLink>
		<HeaderLink href="/contacto">Contacto</HeaderLink>
		<HeaderLink href="/error-404">Error 404</HeaderLink>
		<HeaderLink href="/terminos-y-condiciones">Terminos y condiciones</HeaderLink>
    <HeaderLink href="/directorio">Directorio</HeaderLink>
    <HeaderLink href="/codigo-de-etica">Código de Ética</HeaderLink>
    <HeaderLink href="/violencia">Violencia</HeaderLink>
		<!-- <HeaderLink href="/about">About</HeaderLink>
		<HeaderLink href="https://twitter.com/astrodotbuild" target="_blank">Twitter</HeaderLink>
		<HeaderLink href="https://github.com/withastro/astro" target="_blank">GitHub</HeaderLink> -->
	</nav>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
  main {
    max-width: 1100px;
  }
</style>
