---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body>
    <Header />
    <main>
      <div
        class="p-0 m-0 w-auto text-sky-800"
        style="outline: 0px; grid-column: span 12 / auto;"
      >
        <article
          class="p-0 mx-0 mt-0 mb-2 font-sans text-lg leading-7 text-justify text-black break-all code-of-ethics"
        >
          <h2
            class="p-0 m-0 text-2xl font-bold leading-7 text-justify text-black"
            style="outline: 0px;"
          >
            INTRODUCCIÓN
          </h2><p class="mt-2 mb-5 text-lg leading-7 text-justify text-black">
            Las libertades de información y de prensa constituyen derechos
            fundamentales para el desarrollo de la vida ciudadana bajo una
            democracia, como se consagra en la Carta de las Naciones Unidas, en
            la Declaración Universal de los Derechos del Hombre, y se garantiza
            en la Constitución Política de los Estados Unidos Mexicanos. La
            salvaguarda de estas libertades se verá fortalecida en la medida en
            que los medios de comunicación y los periodistas perseveren en el
            desempeño de sus tareas con un elevado sentido de responsabilidad y
            cumplan con su obligación ética de veracidad en el contenido de sus
            informaciones e investigaciones. Toda actividad de los medios de
            comunicación y de los periodistas debe estar inspirada en el interés
            público, entendiendo que la búsqueda de cualquier interés particular
            en la misión de informar es contraria a los mismos principios que
            garantiza la Declaración Universal de los Derechos del Hombre. El
            periodismo y quienes lo ejercen, ya sea de manera personal o a
            través de empresas, debe estar al servicio de la verdad, de la
            justicia en todos sus órdenes, de los derechos humanos y de las
            aspiraciones de mejoramiento de la sociedad, así como de la paz
            entre los pueblos. Es deber imperativo del periodista evitar, por
            todos los medios a su alcance, que se dicten disposiciones que
            limiten, dificulten o anulen el ejercicio de la libertad de
            expresión. En caso de estar vigentes leyes o reglamentos de ese
            carácter, deberá pugnar por su derogación. Este Código de Ética
            parte del principio de que es responsabilidad exclusiva de los
            periodistas de "El Universal" el apego y observancia de las
            disposiciones definidas, inherentes al ejercicio de la profesión, y
            no de órganos externos, sean gubernamentales o no, por lo que
            resulta inadmisible cualquier injerencia de esta naturaleza.
          </p>
          <h2
            class="p-0 m-0 text-2xl font-bold leading-7 text-justify text-black"
            style="outline: 0px;"
          >
            PROPÓSITO
          </h2>
          <p class="mt-2 mb-5 text-lg leading-7 text-justify text-black">
            El propósito de este Código es reflejar claramente ante sus
            integrantes y frente a sus lectores, el compromiso de "El Universal"
            de apegarse a principios éticos en su tarea de informar
            cotidianamente de los diversos acontecimientos en nuestro país y el
            mundo.
          </p>
          <h2
            class="p-0 m-0 text-2xl font-bold leading-7 text-justify text-black"
            style="outline: 0px;"
          >
            APLICACIÓN
          </h2>
          <p class="mt-2 mb-5 text-lg leading-7 text-justify text-black">
            El presente Código de Ética es de estricta aplicación para todos los
            reporteros, personal de mesa de redacción, articulistas, columnistas
            (en adelante los periodistas de "El Universal"), lo mismo que para
            los colaboradores editoriales externos de "El Universal",
            independientemente del medio en el que los respectivos contenidos
            sean transmitidos (versión impresa, internet, radio, etc...).
          </p>
          <h2
            class="p-0 m-0 text-2xl font-bold leading-7 text-justify text-black"
            style="outline: 0px;"
          >
            MISIÓN
          </h2>
          <p class="mt-2 mb-5 text-lg leading-7 text-justify text-black">
            "El Universal" considera que su Misión radica en contribuir al
            mejoramiento de la sociedad mediante la creación, acopio y
            distribución -por todos los canales a su alcance- de noticias,
            cultura y entretenimiento de alta calidad. Asimismo, preservar la
            existencia de una empresa con responsabilidad social, que procure la
            satisfacción de sus clientes y el desarrollo profesional y humano de
            sus empleados. Todo ello basado en la observancia de estándares de
            excelencia, al tiempo que crea valor duradero para los recursos de
            la compañía a través de la inversión y la persistencia en el
            esfuerzo.
          </p>
          <h2
            class="p-0 m-0 text-2xl font-bold leading-7 text-justify text-black"
            style="outline: 0px;"
          >
            VISIÓN
          </h2>
          <p class="mt-2 mb-5 text-lg leading-7 text-justify text-black">
            Es propósito permanente de "El Universal" constituir la empresa
            periodística de mayor relevancia en México, cuyos productos
            periodísticos sean referencia obligada en el campo internacional,
            especialmente dentro del contexto latinoamericano. Tal posición debe
            ser conquistada todos los días, con base en un trabajo de máxima
            calidad y en una clara responsabilidad. Éstos son los factores que
            construyen nuestra reputación y nos permiten estar a la altura de la
            confianza que depositan en nosotros el público y nuestros clientes.
          </p>
          <p class="mt-2 mb-5 text-lg leading-7 text-justify text-black">
            La tarea de "El Universal" se halla regida por los siguientes
            principios:
          </p>
          <h2
            class="p-0 m-0 text-2xl font-bold leading-7 text-justify text-black"
            style="outline: 0px;"
          >
            1. INDEPENDENCIA
          </h2>
          <p class="mt-2 mb-5 text-lg leading-7 text-justify text-black">
            "El Universal" y sus periodistas mantienen su independencia
            editorial respecto de intereses económicos, políticos, religiosos y
            de cualquier otro orden, para estar libre de obligaciones y
            presiones que obstruyan su misión periodística.
          </p>
          <p class="mt-2 mb-5 text-lg leading-7 text-justify text-black">
            Esta independencia entra en conflicto en los siguientes casos:
            Conflictos de interés.
          </p>
          <p class="mt-2 mb-5 text-lg leading-7 text-justify text-black">
            Los periodistas de "El Universal" evitan incurrir en conflictos de
            interés derivados de sus relaciones personales o profesionales, así
            como del desarrollo de actividades económicas propias que
            comprometan su independencia de criterio periodístico o puedan minar
            la de "El Universal".
          </p>
          <p class="mt-2 mb-5 text-lg leading-7 text-justify text-black">
            Los periodistas de "El Universal" con interés en participar en
            actividades públicas se aseguran de que éstas no entren en conflicto
            con la imparcialidad de su trabajo profesional. Por ello, no se
            involucran en las noticias que ellos cubren. Se considerarán actos
            contrarios a este Código de Etica: La firma de peticiones públicas
            de las que se pueda concluir la parcialidad en la visión
            periodística de los periodistas de "El Universal". Durante la
            participación en protestas, asumir actitudes que comprometan de
            cualquier manera al periódico. Establecer vínculos económicos y/o
            laborales con las fuentes informativas. Realizar cualquier gestión
            para sí, para familiares o para terceras personas, en nombre de "El
            Universal", que dañe estos principios.
          </p>
          <p class="mt-2 mb-5 text-lg leading-7 text-justify text-black">
            Regalos y compensaciones.
          </p>
          <p class="mt-2 mb-5 text-lg leading-7 text-justify text-black">
            Los periodistas de "El Universal" no aceptan favores o regalos de
            valor significativo, ayudas económicas, subsidios o viajes
            gratuitos, facilidades de hospedaje o cualquier otro beneficio
            personal proveniente de fuentes informativas.
          </p>
          <p class="mt-2 mb-5 text-lg leading-7 text-justify text-black">
            Gastos. Los gastos derivados de la cobertura de noticias deben ser
            asumidos por el mismo diario.
          </p>
          <h2
            class="p-0 m-0 text-2xl font-bold leading-7 text-justify text-black"
            style="outline: 0px;"
          >
            2. HONESTIDAD
          </h2>
          <p class="mt-2 mb-5 text-lg leading-7 text-justify text-black">
            Los lectores de "El Universal" tienen la garantía de que las
            noticias que se publican en las páginas del diario son imparciales y
            no las anima otro fin más que el interés público.
          </p>
          <p class="mt-2 mb-5 text-lg leading-7 text-justify text-black">
            En función de lo anterior: Los periodistas de "El Universal" no
            incurren en plagio de trabajos realizados por colegas u otros
            profesionales. Los lectores pueden confiar en que lo publicado en el
            periódico es trabajo del autor, y en caso de no ser así, se
            especifica en el cuerpo del mismo. Puntos de vista opuestos. Los
            periodistas de "El Universal" observan la práctica cotidiana de
            recabar los puntos de vista de los actores involucrados en un
            debate, conflicto o pugna. Cuando una de las partes se niega a
            definir su postura, o resulte para el reportero imposible recabarla,
            el diario lo hace del conocimiento de sus lectores.
          </p>
          <p class="mt-2 mb-5 text-lg leading-7 text-justify text-black">
            En su misión de generar noticias, los periodistas de "El Universal"
            no recurren a engaños que impliquen suplantar o fingir ser otra
            persona, así como tampoco el uso de grabadoras o cámaras escondidas,
            en virtud de que ello mina seriamente la credibilidad y confianza en
            el diario. Los periodistas de "El Universal" no graban declaraciones
            sin consentimiento expreso del entrevistado. Con el fin de evitar
            confusiones a los lectores respecto de las notas estrictamente
            informativas y los artículos de opinión, "El Universal" los
            diferencia claramente con recursos visuales en el momento de su
            publicación. En el caso del uso de encuestas, los datos estadísticos
            derivados de éstas y estudios, son especialmente susceptibles de
            mala interpretación y mal uso. Ante ello:
          </p>
          <p class="mt-2 mb-5 text-lg leading-7 text-justify text-black">
            Las informaciones publicadas en "El Universal" distinguen con
            claridad entre las encuestas que observan una metodología científica
            y los estudios no científicos, como las entrevistas de personas en
            las calles, sondeos, cartas o llamadas telefónicas. En el uso de
            estudios no científicos, se explica claramente sus limitaciones.
          </p>
          <h2
            class="p-0 m-0 text-2xl font-bold leading-7 text-justify text-black"
            style="outline: 0px;"
          >
            3. EQUILIBRIO
          </h2>
          <p class="mt-2 mb-5 text-lg leading-7 text-justify text-black">
            El equilibrio requiere la presentación de hechos relevantes sin
            distorsiones, en su contexto e incluyendo la visión de todos los
            actores involucrados en éstos. Abonan al anterior fin:
          </p>
          <p class="mt-2 mb-5 text-lg leading-7 text-justify text-black">
            Imparcialidad. Tanto el diario como sus periodistas no toman partido
            respecto de ningún tema, persona, organización, partido político o
            credo religioso.
          </p>
          <p class="mt-2 mb-5 text-lg leading-7 text-justify text-black">
            Contexto. Las noticias son presentadas en un contexto suficiente y
            objetivo que permite a los lectores entenderlas mejor.
          </p>
          <p class="mt-2 mb-5 text-lg leading-7 text-justify text-black">
            Puntos de vista opuestos. Los periodistas de "El Universal" observan
            la práctica cotidiana de recabar los puntos de vista de los actores
            involucrados en un debate, conflicto o pugna. Cuando una de las
            partes se niega a definir su postura, o resulte para el reportero
            imposible recabarla, el diario lo hace del conocimiento de sus
            lectores. Oportunidad de réplica. "El Universal" reconoce el derecho
            de las personas, grupos o instituciones a dar a conocer su postura
            respecto de noticias y artículos publicados en sus páginas en los
            que pudieran verse afectadas su reputación y fama pública. Los
            periodistas de "El Universal", de igual manera, tendrán el derecho
            de uso de réplica.
          </p>
          <h2
            class="p-0 m-0 text-2xl font-bold leading-7 text-justify text-black"
            style="outline: 0px;"
          >
            4. RESPETO
          </h2>
          <p class="mt-2 mb-5 text-lg leading-7 text-justify text-black">
            "El Universal" y sus periodistas asumen el respeto como divisa
            primordial en su interacción con las personas, las instituciones y
            las diversas comunidades. El diario promueve los siguientes
            mecanismos para observar y mantener tal respeto: Privacidad. Los
            periodistas de "El Universal" reconocen que las personas tienen
            derecho a la privacidad, y que cualquier actitud que la vulnere
            contraria los principios de este Código de Ética. Figuras públicas.
            Aquellos que desarrollan una función pública también tienen derecho
            a la privacidad. Sin embargo, para el tratamiento noticioso deberá
            considerarse el grado en el que actos relativos a la vida privada
            afecten su función pública, así como el nivel en que voluntariamente
            conduzcan sus vidas privadas a la luz pública.
          </p>
          <p class="mt-2 mb-5 text-lg leading-7 text-justify text-black">
            Buen gusto. Los periodistas de "El Universal" asumen como práctica
            cotidiana el cuidado del idioma español hablado en México.
          </p>
          <p class="mt-2 mb-5 text-lg leading-7 text-justify text-black">
            El lenguaje y las imágenes obscenas se publicarán sólo cuando sea
            esencial y como parte de la caracterización del relato o el
            entrevistado.
          </p>
          <p class="mt-2 mb-5 text-lg leading-7 text-justify text-black">
            Consideración. Los periodistas de "El Universal" tratan con
            consideración a las fuentes informativas y a las personas en
            general.
          </p>
          <p class="mt-2 mb-5 text-lg leading-7 text-justify text-black">
            Son especialmente cuidadosos en momentos de aflicción, pérdida
            personal o agobio emocional extremo en el que pudieran encontrarse
            inmersas las personas.
          </p>
          <p class="mt-2 mb-5 text-lg leading-7 text-justify text-black">
            Enfatizan este cuidado hacia aquellos que no están acostumbrados a
            tratar con la prensa.
          </p>
          <h2
            class="p-0 m-0 text-2xl font-bold leading-7 text-justify text-black"
            style="outline: 0px;"
          >
            5. RESPONSABILIDAD
          </h2>
          <p class="mt-2 mb-5 text-lg leading-7 text-justify text-black">
            "El Universal" y sus periodistas actúan con responsabilidad en el
            ejercicio del periodismo, entendiendo el alto impacto que tienen los
            medios de comunicación en la sociedad. Esta responsabilidad se
            expresa, entre otros, en los siguientes casos:
          </p>
          <p class="mt-2 mb-5 text-lg leading-7 text-justify text-black">
            Error. "El Universal" tiene la responsabilidad de corregir todos los
            errores importantes de los hechos presentados, y clarificar los de
            omisión y contexto. Todos los señalamientos pertinentes sobre
            errores son recogidos y procesados a la brevedad. Respeto ante
            víctimas. "El Universal" y sus periodistas tienen un gran respeto
            por las víctimas de delito, por lo que no publican el nombre o
            cualquier dato que facilite la identificación de quienes han sido
            víctimas de cualquier clase de ilícito, especialmente los sexuales.
            Tampoco identifican a menores de edad en situación vulnerable, aun
            cuando pudieran ser autores de un delito.
          </p>
          <p class="mt-2 mb-5 text-lg leading-7 text-justify text-black">
            "El Universal" y sus periodistas entienden como apología del delito
            publicar informaciones relacionadas con el secuestro de particulares
            o falsas amenazas. Las autoridades editoriales del más alto rango
            decidirán lo conducente en el primer caso, ante peticiones de las
            familias de las víctimas.
          </p>
          <p class="mt-2 mb-5 text-lg leading-7 text-justify text-black">
            "El Universal" reconoce en los tribunales jurisdiccionales a la
            única autoridad para juzgar conductas delictivas, por lo que evitará
            el uso de lenguaje que suponga la condena anticipada de personas.
          </p>
          <h2
            class="p-0 m-0 text-2xl font-bold leading-7 text-justify text-black"
            style="outline: 0px;"
          >
            6. DECLARACIONES
          </h2>
          <p class="mt-2 mb-5 text-lg leading-7 text-justify text-black">
            La reproducción de declaraciones debe corresponder escrupulosamente
            a lo expuesto por los informantes y reflejar el contexto en que
            fueron emitidas. Una declaración puede ser ajustada, sin alterar su
            sentido y fin, con la intención de corregir la gramática cuando ésta
            provoque confusión.
          </p>
          <h2
            class="p-0 m-0 text-2xl font-bold leading-7 text-justify text-black"
            style="outline: 0px;"
          >
            7. FOTOGRAFÍAS Y GRÁFICAS
          </h2>
          <p class="mt-2 mb-5 text-lg leading-7 text-justify text-black">
            Las fotografías y gráficas deben ser fieles representaciones de la
            realidad.
          </p>
          <p class="mt-2 mb-5 text-lg leading-7 text-justify text-black">
            Realces técnicos. Es permisible usar realces técnicos sólo cuando el
            trabajo resultante esté apegado a la realidad de la escena o
            situación presentada. Alteración o manipulación. El contenido real
            de una fotografía no es alterado ni manipulado, excepto para
            propósitos ilustrativos, en cuyo caso la impresión debe indicar
            claramente que ha sido modificada. Mascarilla o "pixeleado" de
            fotografías. En atención a los lineamientos respecto de menores de
            edad, se utilizarán recursos técnicos como aplicar una mascarilla o
            "pixeleado" de sus rostros, para la presentación de materiales. De
            igual forma se hará con fotografías de víctimas de delitos, policías
            o cualquier persona que pudiera ver vulnerada su integridad o
            seguridad.
          </p>
          <h2
            class="p-0 m-0 text-2xl font-bold leading-7 text-justify text-black"
            style="outline: 0px;"
          >
            8. FUENTES CONFIDENCIALES
          </h2>
          <p class="mt-2 mb-5 text-lg leading-7 text-justify text-black">
            El uso de fuentes confidenciales queda reservado para casos
            extraordinarios, por el riesgo que esta práctica supone para la
            credibilidad del periódico.
          </p>
          <p class="mt-2 mb-5 text-lg leading-7 text-justify text-black">
            Antes de publicar una información de esta naturaleza, los
            periodistas de "El Universal" se empeñan, por todos los medios a su
            alcance, en obtenerla a través de una fuente identificable. Sin
            embargo, "El Universal" reconoce el derecho ciudadano a difundir
            información de interés público, lo que en ocasiones ocurre en
            condiciones que suponen un riesgo para la integridad física, social
            o política de la fuente. En estos casos, el periódico puede ofrecer
            anonimato a la fuente. Cuando una fuente deba permanecer sin
            identificar, el diario explicará las razones a los lectores. El
            editor responsable conocerá, por medio del periodista, la identidad
            de la fuente antes de la publicación, y tiene la obligación de
            mantenerla en reserva. Los periodistas de "El Universal" sólo pueden
            ofrecer anonimato a una fuente previa explicación a la misma sobre
            los criterios arriba establecidos.
          </p>

          <h2
            class="p-0 m-0 text-2xl font-bold leading-7 text-justify text-black"
            style="outline: 0px;"
          >
            9. PUBLICIDAD
          </h2>
          <p class="mt-2 mb-5 text-lg leading-7 text-justify text-black">
            La credibilidad del periódico está apoyada en una clara separación
            entre noticias y publicidad. Por ello, la cobertura de informaciones
            y la publicación de los materiales respectivos no está sujeta a
            criterios de publicidad.
          </p>
          <p class="mt-2 mb-5 text-lg leading-7 text-justify text-black">
            El material producido fuera de la Redacción con fines de promoción
            ("gacetillas" o informaciones pagadas) debe ser claramente
            identificado y presentado de tal manera que permita al lector
            distinguirlo de las noticias.
          </p>
          <h2
            class="p-0 m-0 text-2xl font-bold leading-7 text-justify text-black"
            style="outline: 0px;"
          >
            10. CONCURSOS Y PREMIOS
          </h2>
          <p class="mt-2 mb-5 text-lg leading-7 text-justify text-black">
            Las notas, fotografías y cartones no se publicarán con el propósito
            de participar en concursos. Debe evitarse la participación del
            periódico en certámenes meramente comerciales, publicitarios o que
            atraigan el riesgo de desprestigio para el diario.
          </p>
          <h2
            class="p-0 m-0 text-2xl font-bold leading-7 text-justify text-black"
            style="outline: 0px;"
          >
            11. COMITÉ DE ÉTICA
          </h2>
          <p class="mt-2 mb-5 text-lg leading-7 text-justify text-black">
            Con el fin de garantizar la observancia de este Código de Ética y
            para brindar a los lectores un mecanismo de interacción con "El
            Universal", se crea la figura del Comité de Ética, que tendrá entre
            sus funciones, las siguientes: Recibir de los lectores solicitudes
            de corrección o rectificación sobre textos publicados, y resolver
            sobre la eventual publicación de opiniones. Analizar violaciones a
            los principios establecidos por este Código, y así como las
            sanciones correspondientes. Las demás que determine el Comité
            respectivo.
          </p>
        </article>
      </div>
    </main>

    <style>
      .code-of-ethics h2 {
        font-size: 27px;
        outline: 0;
      }
    </style>
    <Footer />
  </body>
</html>
